tools/
data/
private/
misc/
src/build
src/dist
src/*.pyc
src/*.pyo
src/__pycache__
src/credentials.py
build/windows/PySide2
.project
.pydevproject
.settings/
.idea/
.settings/org.eclipse.core.resources.prefs
*.DS_Store
src/.eggs
src/Facepager.spec
*.exe
*.app.zip