{
    "openapi": "3.0.0",
    "x-facepager-module":"Facebook",
    "x-facepager-extract": "data",
	"x-facepager-objectid" : "id",

	"x-facepager-pagination": {
		"method" : "url",
		"param" : null,
		"key" : "paging.next",
		"stop" : null
	},

    "info": {
        "title": "Facebook Graph API v4.0",
        "description": "Please note: though some things might work, the settings are not yet fully compatible with v4.0.\n\nThe Graph API is the primary way to get data into and out of the Facebook platform.",
        "termsOfService": "https://www.facebook.com/policies/",
        "version": "4.0"
    },
    "externalDocs": {
        "url":"https://developers.facebook.com/docs/graph-api"
    },
    "servers": [
        {
            "url":"https://graph.facebook.com/v4.0"
        }
    ],
    "paths":{
        "/{page-id}": {
            "get" : {
                "summary" : "This represents a Facebook Page. The /{page-id} node returns a single page.",
                "externalDocs": {
                    "url":"https://developers.facebook.com/docs/graph-api/reference/v4.0/page"
                },             
                "parameters" : [                 
                    {
                      "name" : "page-id",
                      "in" : "path",
                      "description" : "ID of the page",
                      "required" : true,
                      "schema":{"type":"string"}
                    },
                    {
                      "name" : "account_linking_token",
                      "in" : "query",
                      "description" : "Short lived account linking token (5 mins expiry) to get the PSID for a user-page pair.",
                      "schema":{"type":"string"}
                    },
                    {
                      "name" : "fields",
                      "in" : "query",
                      "description" : "A comma-separated list of fields (see response fields).",
                      "schema" : {
                        "type" : "array",
                        "items" : {
                            "type":"string",
                            "oneOf":[
                                {"const":"id","description":"Page ID. No access token is required to access this field"},
                                {"const":"about","description":"Information about the Page"},
                                {"const":"access_token","description":"The Page's access token. Only returned if the User making the request has a role (other than Live Contributor) on the Page. If your business requires two-factor authentication, the User must also be authenticated"},
                                {"const":"ad_campaign","description":"The Page's currently running promotion campaign"},
                                {"const":"affiliation","description":"Affiliation of this person. Applicable to Pages representing people"},
                                {"const":"app_id","description":"App ID for app-owned Pages and app Pages"},
                                {"const":"app_links","description":"AppLinks data associated with the Page's URL"},
                                {"const":"artists_we_like","description":"Artists the band likes. Applicable to Bands"},
                                {"const":"attire","description":"Dress code of the business. Applicable to Restaurants or Nightlife. Can be one of Casual, Dressy or Unspecified"},
                                {"const":"awards","description":"The awards information of the film. Applicable to Films"},
                                {"const":"band_interests","description":"Band interests. Applicable to Bands"},
                                {"const":"band_members","description":"Members of the band. Applicable to Bands"},
                                {"const":"best_page","description":"The best available Page on Facebook for the concept represented by this Page. The best available Page takes into account authenticity and the number of likes"},
                                {"const":"bio","description":"Biography of the band. Applicable to Bands"},
                                {"const":"birthday","description":"Birthday of this person. Applicable to Pages representing people"},
                                {"const":"booking_agent","description":"Booking agent of the band. Applicable to Bands"},
                                {"const":"built","description":"Year vehicle was built. Applicable to Vehicles"},
                                {"const":"business","description":"The Business associated with this Page. Requires business_management permissions, and a page or user access token. The person requesting the access token must be an admin of the page."},
                                {"const":"can_checkin","description":"Whether this page has checkin functionality enabled"},
                                {"const":"can_post","description":"Whether the current session user can post on this Page"},
                                {"const":"category","description":"The Page's category. e.g. Product/Service, Computers/Technology"},
                                {"const":"category_list","description":"The Page's sub-categories"},
                                {"const":"checkins","description":"Number of checkins at a place represented by a Page"},
                                {"const":"company_overview","description":"The company overview. Applicable to Companies"},
                                {"const":"connected_instagram_account","description":"Instagram account connected to page via page settings"},
                                {"const":"contact_address","description":"The mailing or contact address for this page. This field will be blank if the contact address is the same as the physical address"},
                                {"const":"context","description":"Social context for this Page"},
                                {"const":"copyright_attribution_insights","description":"Insight metrics that measures performance of copyright attribution. An example metric would be number of incremental followers from attribution"},
                                {"const":"copyright_whitelisted_ig_partners","description":"Whitelisted Instagram usernames that will not be reported in copyright match systems"},
                                {"const":"country_page_likes","description":"If this is a Page in a Global Pages hierarchy, the number of people who are being directed to this Page"},
                                {"const":"cover","description":"Information about the page's cover photo"},
                                {"const":"culinary_team","description":"Culinary team of the business. Applicable to Restaurants or Nightlife"},
                                {"const":"current_location","description":"Current location of the Page"},
                                {"const":"description","description":"The description of the Page"},
                                {"const":"description_html","description":"The description of the Page in raw HTML"},
                                {"const":"directed_by","description":"The director of the film. Applicable to Films"},
                                {"const":"display_subtext","description":"Subtext about the Page being viewed"},
                                {"const":"displayed_message_response_time","description":"Page estimated message response time displayed to user"},
                                {"const":"emails","description":"The emails listed in the About section of a Page"},
                                {"const":"engagement","description":"The social sentence and like count information for this Page. This is the same info used for the like button"},
                                {"const":"fan_count","description":"The number of users who like the Page. For Global Pages this is the count for all Pages across the brand"},
                                {"const":"featured_video","description":"Video featured by the Page"},
                                {"const":"features","description":"Features of the vehicle. Applicable to Vehicles"},
                                {"const":"food_styles","description":"The restaurant's food styles. Applicable to Restaurants"},
                                {"const":"founded","description":"When the company was founded. Applicable to Pages in the Company category"},
                                {"const":"general_info","description":"General information provided by the Page"},
                                {"const":"general_manager","description":"General manager of the business. Applicable to Restaurants or Nightlife"},
                                {"const":"genre","description":"The genre of the film. Applicable to Films"},
                                {"const":"global_brand_page_name","description":"The name of the Page with country codes appended for Global Pages. Only visible to the Page admin"},
                                {"const":"global_brand_root_id","description":"This brand's global Root ID"},
                                {"const":"has_added_app","description":"Indicates whether this Page has added the app making the query in a Page tab"},
                                {"const":"has_whatsapp_number","description":"has whatsapp number"},
                                {"const":"hometown","description":"Hometown of the band. Applicable to Bands"},
                                {"const":"hours","description":"Indicates a single range of opening hours for a day. Each day can have 2 different hours ranges. The keys in the map are in the form of {day}_{number}_{status}. {day} should be the first 3 characters of the day of the week, {number} should be either 1 or 2 to allow for the two different hours ranges per day. {status} should be either open or close to delineate the start or end of a time range. An example would be mon_1_open with value 17:00 and mon_1_close with value 21:15 which would represent a single opening range of 5pm to 9:15pm on Mondays. If one specific day is open 24 hours, the range should be specified as 00:00 to 24:00. If the place is open 24/7, is_always_open field should be set directly"},
                                {"const":"impressum","description":"Legal information about the Page publishers"},
                                {"const":"influences","description":"Influences on the band. Applicable to Bands"},
                                {"const":"instagram_business_account","description":"Instagram account linked to page during Instagram business conversion flow"},
                                {"const":"instant_articles_review_status","description":"Indicates the current Instant Articles review status for this page"},
                                {"const":"is_always_open","description":"Indicates whether this location is always open"},
                                {"const":"is_chain","description":"Indicates whether location is part of a chain"},
                                {"const":"is_community_page","description":"Indicates whether the Page is a community Page"},
                                {"const":"is_eligible_for_branded_content","description":"Indicates whether the page is eligible for the branded content tool"},
                                {"const":"is_messenger_bot_get_started_enabled","description":"Indicates whether the page is a Messenger Platform Bot with Get Started button enabled"},
                                {"const":"is_messenger_platform_bot","description":"Indicates whether the page is a Messenger Platform Bot"},
                                {"const":"is_owned","description":"Indicates whether page is owned"},
                                {"const":"is_permanently_closed","description":"Whether the business corresponding to this Page is permanently closed"},
                                {"const":"is_published","description":"Indicates whether the Page is published and visible to non-admins"},
                                {"const":"is_unclaimed","description":"Indicates whether the Page is unclaimed"},
                                {"const":"is_verified","description":"Deprecated, use \"verification_status\". Pages with a large number of followers can be manually verified by Facebook as [having an authentic identity] (https://www.facebook.com/help/196050490547892). This field indicates whether the page is verified by this process"},
                                {"const":"is_webhooks_subscribed","description":"Indicates whether the application is subscribed for real time updates from this page"},
                                {"const":"keywords","description":"Deprecated. Returns null"},
                                {"const":"leadgen_form_preview_details","description":"The details needed to generate an accurate preview of a lead gen form"},
                                {"const":"leadgen_has_crm_integration","description":"Indicates whether this page hasApp subscribes page leads realtime update"},
                                {"const":"leadgen_has_fat_ping_crm_integration","description":"Indicates whether this pagehas App that subscribes page leads realtime update via fat ping"},
                                {"const":"leadgen_tos_acceptance_time","description":"Indicates the time when the TOS for running LeadGen Ads on the page was accepted"},
                                {"const":"leadgen_tos_accepted","description":"Indicates whether a user has accepted the TOS for running LeadGen Ads on the Page"},
                                {"const":"leadgen_tos_accepting_user","description":"Indicates the user who accepted the TOS for running LeadGen Ads on the page"},
                                {"const":"link","description":"The Page's Facebook URL"},
                                {"const":"location","description":"The location of this place. Applicable to all Places"},
                                {"const":"members","description":"Members of this org. Applicable to Pages representing Team Orgs"},
                                {"const":"merchant_id","description":"The instant workflow merchant id associated with the Page"},
                                {"const":"merchant_review_status","description":"Review status of the Page against FB commerce policies, this status decides whether the Page can use component flow"},
                                {"const":"messenger_ads_default_icebreakers","description":"The default ice breakers for a certain page"},
                                {"const":"messenger_ads_default_page_welcome_message","description":"The default page welcome message for Click to Messenger Ads"},
                                {"const":"messenger_ads_default_quick_replies","description":"The default quick replies for a certain page"},
                                {"const":"messenger_ads_quick_replies_type","description":"Indicates what type this page is and we will generate different sets of quick replies based on it"},
                                {"const":"mission","description":"The company mission. Applicable to Companies"},
                                {"const":"mpg","description":"MPG of the vehicle. Applicable to Vehicles"},
                                {"const":"name","description":"The name of the Page"},
                                {"const":"name_with_location_descriptor","description":"The name of the Page with its location and/or global brand descriptor. Only visible to a page admin. Non-page admins will get the same value as name."},
                                {"const":"network","description":"The TV network for the TV show. Applicable to TV Shows"},
                                {"const":"new_like_count","description":"The number of people who have liked the Page, since the last login. Only visible to a page admin"},
                                {"const":"offer_eligible","description":"Offer eligibility status. Only visible to a page admin"},
                                {"const":"overall_star_rating","description":"Overall page rating based on rating survey from users on a scale of 1-5. This value is normalized and is not guaranteed to be a strict average of user ratings. If there are 0 or a small number of ratings, this field will not be returned."},
                                {"const":"page_about_story","description":"A Page About Story is a document located in your Page's About section. It tells your Page's story with rich text and images and can be updated as your story evolves"},
                                {"const":"page_token","description":"page token"},
                                {"const":"parent_page","description":"Parent Page for this Page"},
                                {"const":"parking","description":"Parking information. Applicable to Businesses and Places"},
                                {"const":"payment_options","description":"Payment options accepted by the business. Applicable to Restaurants or Nightlife"},
                                {"const":"personal_info","description":"Personal information. Applicable to Pages representing People"},
                                {"const":"personal_interests","description":"Personal interests. Applicable to Pages representing People"},
                                {"const":"pharma_safety_info","description":"Pharmacy safety information. Applicable to Pharmaceutical companies"},
                                {"const":"phone","description":"Phone number provided by a Page"},
                                {"const":"place_type","description":"For places, the category of the place"},
                                {"const":"plot_outline","description":"The plot outline of the film. Applicable to Films"},
                                {"const":"preferred_audience","description":"Group of tags describing the preferred audienceof ads created for the Page"},
                                {"const":"press_contact","description":"Press contact information of the band. Applicable to Bands"},
                                {"const":"price_range","description":"Price range of the business. Applicable to Restaurants or Nightlife. Can be one of $, $$, $$$, $$$$ or Unspecified"},
                                {"const":"privacy_info_url","description":"Privacy url in page info section"},
                                {"const":"produced_by","description":"The productor of the film. Applicable to Films"},
                                {"const":"products","description":"The products of this company. Applicable to Companies"},
                                {"const":"promotion_eligible","description":"Boosted posts eligibility status. Only visible to a page admin"},
                                {"const":"promotion_ineligible_reason","description":"Reason for which boosted posts are not eligible. Only visible to a page admin"},
                                {"const":"public_transit","description":"Public transit to the business. Applicable to Restaurants or Nightlife"},
                                {"const":"rating_count","description":"Number of ratings for the page (limited to ratings that are publicly accessible)"},
                                {"const":"recipient","description":"Messenger page scope id associated with page and a user using account_linking_token"},
                                {"const":"record_label","description":"Record label of the band. Applicable to Bands"},
                                {"const":"release_date","description":"The film's release date. Applicable to Films"},
                                {"const":"restaurant_services","description":"Services the restaurant provides. Applicable to Restaurants"},
                                {"const":"restaurant_specialties","description":"The restaurant's specialties. Applicable to Restaurants"},
                                {"const":"schedule","description":"The air schedule of the TV show. Applicable to TV Shows"},
                                {"const":"screenplay_by","description":"The screenwriter of the film. Applicable to Films"},
                                {"const":"season","description":"The season information of the TV Show. Applicable to TV Shows"},
                                {"const":"single_line_address","description":"The page address, if any, in a simple single line format."},
                                {"const":"starring","description":"The cast of the film. Applicable to Films"},
                                {"const":"start_info","description":"Information about when the entity represented by the Page was started"},
                                {"const":"store_code","description":"Unique store code for this location Page"},
                                {"const":"store_location_descriptor","description":"Location Page's store location descriptor"},
                                {"const":"store_number","description":"Unique store number for this location Page"},
                                {"const":"studio","description":"The studio for the film production. Applicable to Films"},
                                {"const":"supports_instant_articles","description":"Indicates whether this Page supports Instant Articles"},
                                {"const":"talking_about_count","description":"The number of people talking about this Page"},
                                {"const":"unread_message_count","description":"Unread message count for the Page. Only visible to a page admin"},
                                {"const":"unread_notif_count","description":"Number of unread notifications. Only visible to a page admin"},
                                {"const":"unseen_message_count","description":"Unseen message count for the Page. Only visible to a page admin"},
                                {"const":"username","description":"The alias of the Page. For example, for www.facebook.com/platform the username is 'platform'"},
                                {"const":"verification_status","description":"Showing whether this Page is verified and in what color e.g. blue verified, gray verified or not verified"},
                                {"const":"voip_info","description":"Voip info"},
                                {"const":"website","description":"The URL of the Page's website"},
                                {"const":"were_here_count","description":"The number of visits to this Page's location. If the Page setting Show map, check-ins and star ratings on the Page (under Page Settings > Page Info > Address) is disabled, then this value will also be disabled"},
                                {"const":"whatsapp_number","description":"whatsapp number"},
                                {"const":"written_by","description":"The writer of the TV show. Applicable to TV Shows"}                            
                            ]
                        }
                      },
                      "example" : "id,name,about,website,talking_about_count"
                    }
                ],
                "responses" : {
                    "200" : {
                        "description" : "This represents a Facebook Page.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract": null,
                                    "x-facepager-objectid" : "id",                                    
                                    "properties" : {
                                        "id":{"description":"Page ID. No access token is required to access this field"},
                                        "about":{"description":"Information about the Page"},
                                        "access_token":{"description":"The Page's access token. Only returned if the User making the request has a role (other than Live Contributor) on the Page. If your business requires two-factor authentication, the User must also be authenticated"},
                                        "ad_campaign":{"description":"The Page's currently running promotion campaign"},
                                        "affiliation":{"description":"Affiliation of this person. Applicable to Pages representing people"},
                                        "app_id":{"description":"App ID for app-owned Pages and app Pages"},
                                        "app_links":{"description":"AppLinks data associated with the Page's URL"},
                                        "artists_we_like":{"description":"Artists the band likes. Applicable to Bands"},
                                        "attire":{"description":"Dress code of the business. Applicable to Restaurants or Nightlife. Can be one of Casual, Dressy or Unspecified"},
                                        "awards":{"description":"The awards information of the film. Applicable to Films"},
                                        "band_interests":{"description":"Band interests. Applicable to Bands"},
                                        "band_members":{"description":"Members of the band. Applicable to Bands"},
                                        "best_page":{"description":"The best available Page on Facebook for the concept represented by this Page. The best available Page takes into account authenticity and the number of likes"},
                                        "bio":{"description":"Biography of the band. Applicable to Bands"},
                                        "birthday":{"description":"Birthday of this person. Applicable to Pages representing people"},
                                        "booking_agent":{"description":"Booking agent of the band. Applicable to Bands"},
                                        "built":{"description":"Year vehicle was built. Applicable to Vehicles"},
                                        "business":{"description":"The Business associated with this Page. Requires business_management permissions, and a page or user access token. The person requesting the access token must be an admin of the page."},
                                        "can_checkin":{"description":"Whether this page has checkin functionality enabled"},
                                        "can_post":{"description":"Whether the current session user can post on this Page"},
                                        "category":{"description":"The Page's category. e.g. Product/Service, Computers/Technology"},
                                        "category_list":{"description":"The Page's sub-categories"},
                                        "checkins":{"description":"Number of checkins at a place represented by a Page"},
                                        "company_overview":{"description":"The company overview. Applicable to Companies"},
                                        "connected_instagram_account":{"description":"Instagram account connected to page via page settings"},
                                        "contact_address":{"description":"The mailing or contact address for this page. This field will be blank if the contact address is the same as the physical address"},
                                        "context":{"description":"Social context for this Page"},
                                        "copyright_attribution_insights":{"description":"Insight metrics that measures performance of copyright attribution. An example metric would be number of incremental followers from attribution"},
                                        "copyright_whitelisted_ig_partners":{"description":"Whitelisted Instagram usernames that will not be reported in copyright match systems"},
                                        "country_page_likes":{"description":"If this is a Page in a Global Pages hierarchy, the number of people who are being directed to this Page"},
                                        "cover":{"description":"Information about the page's cover photo"},
                                        "culinary_team":{"description":"Culinary team of the business. Applicable to Restaurants or Nightlife"},
                                        "current_location":{"description":"Current location of the Page"},
                                        "description":{"description":"The description of the Page"},
                                        "description_html":{"description":"The description of the Page in raw HTML"},
                                        "directed_by":{"description":"The director of the film. Applicable to Films"},
                                        "display_subtext":{"description":"Subtext about the Page being viewed"},
                                        "displayed_message_response_time":{"description":"Page estimated message response time displayed to user"},
                                        "emails":{"description":"The emails listed in the About section of a Page"},
                                        "engagement":{"description":"The social sentence and like count information for this Page. This is the same info used for the like button"},
                                        "fan_count":{"description":"The number of users who like the Page. For Global Pages this is the count for all Pages across the brand"},
                                        "featured_video":{"description":"Video featured by the Page"},
                                        "features":{"description":"Features of the vehicle. Applicable to Vehicles"},
                                        "food_styles":{"description":"The restaurant's food styles. Applicable to Restaurants"},
                                        "founded":{"description":"When the company was founded. Applicable to Pages in the Company category"},
                                        "general_info":{"description":"General information provided by the Page"},
                                        "general_manager":{"description":"General manager of the business. Applicable to Restaurants or Nightlife"},
                                        "genre":{"description":"The genre of the film. Applicable to Films"},
                                        "global_brand_page_name":{"description":"The name of the Page with country codes appended for Global Pages. Only visible to the Page admin"},
                                        "global_brand_root_id":{"description":"This brand's global Root ID"},
                                        "has_added_app":{"description":"Indicates whether this Page has added the app making the query in a Page tab"},
                                        "has_whatsapp_number":{"description":"has whatsapp number"},
                                        "hometown":{"description":"Hometown of the band. Applicable to Bands"},
                                        "hours":{"description":"Indicates a single range of opening hours for a day. Each day can have 2 different hours ranges. The keys in the map are in the form of {day}_{number}_{status}. {day} should be the first 3 characters of the day of the week, {number} should be either 1 or 2 to allow for the two different hours ranges per day. {status} should be either open or close to delineate the start or end of a time range. An example would be mon_1_open with value 17:00 and mon_1_close with value 21:15 which would represent a single opening range of 5pm to 9:15pm on Mondays. If one specific day is open 24 hours, the range should be specified as 00:00 to 24:00. If the place is open 24/7, is_always_open field should be set directly"},
                                        "impressum":{"description":"Legal information about the Page publishers"},
                                        "influences":{"description":"Influences on the band. Applicable to Bands"},
                                        "instagram_business_account":{"description":"Instagram account linked to page during Instagram business conversion flow"},
                                        "instant_articles_review_status":{"description":"Indicates the current Instant Articles review status for this page"},
                                        "is_always_open":{"description":"Indicates whether this location is always open"},
                                        "is_chain":{"description":"Indicates whether location is part of a chain"},
                                        "is_community_page":{"description":"Indicates whether the Page is a community Page"},
                                        "is_eligible_for_branded_content":{"description":"Indicates whether the page is eligible for the branded content tool"},
                                        "is_messenger_bot_get_started_enabled":{"description":"Indicates whether the page is a Messenger Platform Bot with Get Started button enabled"},
                                        "is_messenger_platform_bot":{"description":"Indicates whether the page is a Messenger Platform Bot"},
                                        "is_owned":{"description":"Indicates whether page is owned"},
                                        "is_permanently_closed":{"description":"Whether the business corresponding to this Page is permanently closed"},
                                        "is_published":{"description":"Indicates whether the Page is published and visible to non-admins"},
                                        "is_unclaimed":{"description":"Indicates whether the Page is unclaimed"},
                                        "is_verified":{"description":"Deprecated, use \"verification_status\". Pages with a large number of followers can be manually verified by Facebook as [having an authentic identity] (https://www.facebook.com/help/196050490547892). This field indicates whether the page is verified by this process"},
                                        "is_webhooks_subscribed":{"description":"Indicates whether the application is subscribed for real time updates from this page"},
                                        "keywords":{"description":"Deprecated. Returns null"},
                                        "leadgen_form_preview_details":{"description":"The details needed to generate an accurate preview of a lead gen form"},
                                        "leadgen_has_crm_integration":{"description":"Indicates whether this page hasApp subscribes page leads realtime update"},
                                        "leadgen_has_fat_ping_crm_integration":{"description":"Indicates whether this pagehas App that subscribes page leads realtime update via fat ping"},
                                        "leadgen_tos_acceptance_time":{"description":"Indicates the time when the TOS for running LeadGen Ads on the page was accepted"},
                                        "leadgen_tos_accepted":{"description":"Indicates whether a user has accepted the TOS for running LeadGen Ads on the Page"},
                                        "leadgen_tos_accepting_user":{"description":"Indicates the user who accepted the TOS for running LeadGen Ads on the page"},
                                        "link":{"description":"The Page's Facebook URL"},
                                        "location":{"description":"The location of this place. Applicable to all Places"},
                                        "members":{"description":"Members of this org. Applicable to Pages representing Team Orgs"},
                                        "merchant_id":{"description":"The instant workflow merchant id associated with the Page"},
                                        "merchant_review_status":{"description":"Review status of the Page against FB commerce policies, this status decides whether the Page can use component flow"},
                                        "messenger_ads_default_icebreakers":{"description":"The default ice breakers for a certain page"},
                                        "messenger_ads_default_page_welcome_message":{"description":"The default page welcome message for Click to Messenger Ads"},
                                        "messenger_ads_default_quick_replies":{"description":"The default quick replies for a certain page"},
                                        "messenger_ads_quick_replies_type":{"description":"Indicates what type this page is and we will generate different sets of quick replies based on it"},
                                        "mission":{"description":"The company mission. Applicable to Companies"},
                                        "mpg":{"description":"MPG of the vehicle. Applicable to Vehicles"},
                                        "name":{"description":"The name of the Page"},
                                        "name_with_location_descriptor":{"description":"The name of the Page with its location and/or global brand descriptor. Only visible to a page admin. Non-page admins will get the same value as name."},
                                        "network":{"description":"The TV network for the TV show. Applicable to TV Shows"},
                                        "new_like_count":{"description":"The number of people who have liked the Page, since the last login. Only visible to a page admin"},
                                        "offer_eligible":{"description":"Offer eligibility status. Only visible to a page admin"},
                                        "overall_star_rating":{"description":"Overall page rating based on rating survey from users on a scale of 1-5. This value is normalized and is not guaranteed to be a strict average of user ratings. If there are 0 or a small number of ratings, this field will not be returned."},
                                        "page_about_story":{"description":"A Page About Story is a document located in your Page's About section. It tells your Page's story with rich text and images and can be updated as your story evolves"},
                                        "page_token":{"description":"page token"},
                                        "parent_page":{"description":"Parent Page for this Page"},
                                        "parking":{"description":"Parking information. Applicable to Businesses and Places"},
                                        "payment_options":{"description":"Payment options accepted by the business. Applicable to Restaurants or Nightlife"},
                                        "personal_info":{"description":"Personal information. Applicable to Pages representing People"},
                                        "personal_interests":{"description":"Personal interests. Applicable to Pages representing People"},
                                        "pharma_safety_info":{"description":"Pharmacy safety information. Applicable to Pharmaceutical companies"},
                                        "phone":{"description":"Phone number provided by a Page"},
                                        "place_type":{"description":"For places, the category of the place"},
                                        "plot_outline":{"description":"The plot outline of the film. Applicable to Films"},
                                        "preferred_audience":{"description":"Group of tags describing the preferred audienceof ads created for the Page"},
                                        "press_contact":{"description":"Press contact information of the band. Applicable to Bands"},
                                        "price_range":{"description":"Price range of the business. Applicable to Restaurants or Nightlife. Can be one of $, $$, $$$, $$$$ or Unspecified"},
                                        "privacy_info_url":{"description":"Privacy url in page info section"},
                                        "produced_by":{"description":"The productor of the film. Applicable to Films"},
                                        "products":{"description":"The products of this company. Applicable to Companies"},
                                        "promotion_eligible":{"description":"Boosted posts eligibility status. Only visible to a page admin"},
                                        "promotion_ineligible_reason":{"description":"Reason for which boosted posts are not eligible. Only visible to a page admin"},
                                        "public_transit":{"description":"Public transit to the business. Applicable to Restaurants or Nightlife"},
                                        "rating_count":{"description":"Number of ratings for the page (limited to ratings that are publicly accessible)"},
                                        "recipient":{"description":"Messenger page scope id associated with page and a user using account_linking_token"},
                                        "record_label":{"description":"Record label of the band. Applicable to Bands"},
                                        "release_date":{"description":"The film's release date. Applicable to Films"},
                                        "restaurant_services":{"description":"Services the restaurant provides. Applicable to Restaurants"},
                                        "restaurant_specialties":{"description":"The restaurant's specialties. Applicable to Restaurants"},
                                        "schedule":{"description":"The air schedule of the TV show. Applicable to TV Shows"},
                                        "screenplay_by":{"description":"The screenwriter of the film. Applicable to Films"},
                                        "season":{"description":"The season information of the TV Show. Applicable to TV Shows"},
                                        "single_line_address":{"description":"The page address, if any, in a simple single line format."},
                                        "starring":{"description":"The cast of the film. Applicable to Films"},
                                        "start_info":{"description":"Information about when the entity represented by the Page was started"},
                                        "store_code":{"description":"Unique store code for this location Page"},
                                        "store_location_descriptor":{"description":"Location Page's store location descriptor"},
                                        "store_number":{"description":"Unique store number for this location Page"},
                                        "studio":{"description":"The studio for the film production. Applicable to Films"},
                                        "supports_instant_articles":{"description":"Indicates whether this Page supports Instant Articles"},
                                        "talking_about_count":{"description":"The number of people talking about this Page"},
                                        "unread_message_count":{"description":"Unread message count for the Page. Only visible to a page admin"},
                                        "unread_notif_count":{"description":"Number of unread notifications. Only visible to a page admin"},
                                        "unseen_message_count":{"description":"Unseen message count for the Page. Only visible to a page admin"},
                                        "username":{"description":"The alias of the Page. For example, for www.facebook.com/platform the username is 'platform'"},
                                        "verification_status":{"description":"Showing whether this Page is verified and in what color e.g. blue verified, gray verified or not verified"},
                                        "voip_info":{"description":"Voip info"},
                                        "website":{"description":"The URL of the Page's website"},
                                        "were_here_count":{"description":"The number of visits to this Page's location. If the Page setting Show map, check-ins and star ratings on the Page (under Page Settings > Page Info > Address) is disabled, then this value will also be disabled"},
                                        "whatsapp_number":{"description":"whatsapp number"},
                                        "written_by":{"description":"The writer of the TV show. Applicable to TV Shows"}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{page-id}/feed": {
            "get" : {
                "summary" : "The feed of posts (including status updates) and links published by this page, or by others on this page. There are other edges which provide more specific sets of posts.",
                "externalDocs": {
                    "url":"https://developers.facebook.com/docs/graph-api/reference/v4.0/page/feed"
                },
                "parameters" : [ 
                    {
                      "name" : "page-id",
                      "in" : "path",
                      "description" : "ID of the page",
                      "required" : true,
                      "schema":{"type":"string"}
                    },
                    {
                      "name" : "include_hidden",
                      "in" : "query",
                      "description" : "Include posts hidden by the Page. Can only be used with the /page-id/feed edge. Defaults to false.",
                      "schema":{"type":"boolean"}
                    },
                    {
                      "name" : "include_inline",
                      "in" : "query",
                      "description" : "Used with the promotable_posts edge only. Filters by whether the post was created inline via object_story_spec in the Ads API. This used to be called is_inline.",
                      "schema":{"type":"boolean"}
                    },
                    {
                      "name" : "include_unpublished",
                      "in" : "query",
                      "description" : "Include unpublished posts for the Page.",
                      "schema":{"type":"boolean"}
                    },
                    {
                      "name" : "is_published",
                      "in" : "query",
                      "description" : "Used with the promotable_posts edge only. Filters by published or unpublished page posts.",
                      "schema":{"type":"boolean"}
                    },
                   {
                      "name" : "since",
                      "in" : "query",
                      "description" : "Filter by date.",
                      "schema":{"type":"string"},
                        "example":"2020-03-19"
                    },
                    {
                      "name" : "until",
                      "in" : "query",
                      "description" : "Filter by date. The until-parameter always has to be one day later, the day starts at 0:00am GMT.",
                      "schema":{"type":"string"},
                        "example":"2020-03-20"

                    },
                    {
                      "name" : "fields",
                      "in" : "query",
                      "description" : "A comma-separated list of fields (see response fields).",
                      "schema" : {
                        "type" : "array",
                        "items" : {
                            "type":"string",
                            "oneOf":[
                                {"const":"id","description":"The post ID"},
                                {"const":"actions","description":"Action links"},
                                {"const":"admin_creator","description":"The admin creator of a Page post. If the Page has only one admin, no data will be returned. Requires a Page Access Token and the business_management permission."},
                                {"const":"allowed_advertising_objects","description":"Objectives under which this post can be advertised"},
                                {"const":"application","description":"Information about the app this post was published by."},
                                {"const":"attachments","description":"Any attachments that are associated with the story"},
                                {"const":"backdated_time","description":"The backdated time for backdate post. For regular post, this field will be set to null."},
                                {"const":"call_to_action","description":"The call to action type used in any Page posts for mobile app engagement ads."},
                                {"const":"can_reply_privately","description":"Whether the Page viewer can send a private reply to this Post. Requires the read_page_mailboxes permission."},
                                {"const":"caption","description":"Link caption in post that appears below name. The caption must be an actual URLs and should accurately reflect the URL and associated advertiser or business someone visits when they click on it."},
                                {"const":"child_attachments","description":"Sub-shares of a multi-link share post."},
                                {"const":"created_time","description":"The time the post was initially published. For a post about a life event, this will be the date and time of the life event."},
                                {"const":"description","description":"A description of a link in the post (appears beneath the caption)."},
                                {"const":"feed_targeting","description":"Object that controls news feed targeting for this post. Anyone in these groups will be more likely to see this post, others will be less likely, but may still see it anyway. Any of the targeting fields shown here can be used, none are required (applies to Pages only)."},
                                {"const":"from","description":"Information (name and id) about the Profile that created the Post. If you read this field with a user access token, it returns only the current user."},
                                {"const":"full_picture","description":"URL to a full-sized version of the Photo published in the Post or scraped from a link in the Post. If the photo's largest dimension exceeds 720 pixels, it will be resized, with the largest dimension set to 720."},
                                {"const":"icon","description":"A link to an icon representing the type of this post."},
                                {"const":"instagram_eligibility","description":"Whether the post can be promoted on Instagram. It returns the enum \"eligible\" if it can be promoted. Otherwise it returns an enum for why it cannot be promoted."},
                                {"const":"is_hidden","description":"If this post is marked as hidden (Applies to Pages only)."},
                                {"const":"is_instagram_eligible","description":"Whether this post can be promoted in Instagram."},
                                {"const":"is_published","description":"Indicates whether a scheduled post was published (applies to scheduled Page Post only, for users post and instantly published posts this value is always true). Note that this value is always false for page posts created as part of the Ad Creation process."},
                                {"const":"link","description":"The link attached to this post."},
                                {"const":"message","description":"The status message in the post."},
                                {"const":"message_tags","description":"An array of profiles tagged in the message text. If you read this field with a user user access token, it returns only the current user."},
                                {"const":"name","description":"The name of the link."},
                                {"const":"object_id","description":"The ID of any uploaded photo or video attached to the post."},
                                {"const":"parent_id","description":"The ID of a parent post for this post, if it exists. For example, if this story is a 'Your Page was mentioned in a post' story, the parent_id will be the original post where the mention happened."},
                                {"const":"permalink_url","description":"URL to the permalink page of the post."},
                                {"const":"picture","description":"URL to a resized version of the Photo published in the Post or scraped from a link in the Post. If the photo's largest dimension exceeds 130 pixels, it will be resized, with the largest dimension set to 130."},
                                {"const":"place","description":"Any location information attached to the post."},
                                {"const":"privacy","description":"The privacy settings of the post."},
                                {"const":"promotable_id","description":"ID of post to use for promotion for stories that cannot be promoted directly."},
                                {"const":"promotion_status","description":"Status of the promotion. Requires Page admin privileges. Possible values:"},
                                {"const":"properties","description":"A list of properties for any attached video, for example, the length of the video."},
                                {"const":"shares","description":"The shares count of this post. The share count may include deleted posts and posts you cannot see for privacy reasons."},
                                {"const":"source","description":"A URL to any Flash movie or video file attached to the post."},
                                {"const":"status_type","description":"Description of the type of a status update."},
                                {"const":"story","description":"Deprecated"},
                                {"const":"story_tags","description":"Deprecated field, same as message_tags."},
                                {"const":"targeting","description":"Object that limits the audience for this content. Only audiences in the specified demographics can view this content. The demographics are additive. Each additional value adds its audience to the cumulative targeted audience. These values do not override any Page-level demographic restrictions that may be in place."},
                                {"const":"to","description":"Profiles mentioned or targeted in this post. If you read this field with a user access token, it returns only the current user."},
                                {"const":"type","description":"A string indicating the object type of this post."},
                                {"const":"updated_time","description":"This field's behavior depends on the type of object the Post is on:"},
                                {"const":"with_tags","description":"Profiles tagged as being 'with' the publisher of the post. If you read this field with a user access token, it returns only the current user."}
                            ]
                        }
                      },
                      "example" : "id,caption,message,created_time,from,type,status_type"
                    }                
                ],
                "responses" : {
                    "200" : {
                        "description" : "An array of Post objects.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "data" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
                                                    "id":{"description":"The post ID"},
                                                    "actions":{"description":"Action links"},
                                                    "admin_creator":{"description":"The admin creator of a Page post. If the Page has only one admin, no data will be returned. Requires a Page Access Token and the business_management permission."},
                                                    "allowed_advertising_objects":{"description":"Objectives under which this post can be advertised"},
                                                    "application":{"description":"Information about the app this post was published by."},
                                                    "attachments":{"description":"Any attachments that are associated with the story"},
                                                    "backdated_time":{"description":"The backdated time for backdate post. For regular post, this field will be set to null."},
                                                    "call_to_action":{"description":"The call to action type used in any Page posts for mobile app engagement ads."},
                                                    "can_reply_privately":{"description":"Whether the Page viewer can send a private reply to this Post. Requires the read_page_mailboxes permission."},
                                                    "caption":{"description":"Link caption in post that appears below name. The caption must be an actual URLs and should accurately reflect the URL and associated advertiser or business someone visits when they click on it."},
                                                    "child_attachments":{"description":"Sub-shares of a multi-link share post."},
                                                    "created_time":{"description":"The time the post was initially published. For a post about a life event, this will be the date and time of the life event."},
                                                    "description":{"description":"A description of a link in the post (appears beneath the caption)."},
                                                    "feed_targeting":{"description":"Object that controls news feed targeting for this post. Anyone in these groups will be more likely to see this post, others will be less likely, but may still see it anyway. Any of the targeting fields shown here can be used, none are required (applies to Pages only)."},
                                                    "from":{"description":"Information (name and id) about the Profile that created the Post. If you read this field with a user access token, it returns only the current user."},
                                                    "full_picture":{"description":"URL to a full-sized version of the Photo published in the Post or scraped from a link in the Post. If the photo's largest dimension exceeds 720 pixels, it will be resized, with the largest dimension set to 720."},
                                                    "icon":{"description":"A link to an icon representing the type of this post."},
                                                    "instagram_eligibility":{"description":"Whether the post can be promoted on Instagram. It returns the enum \"eligible\" if it can be promoted. Otherwise it returns an enum for why it cannot be promoted."},
                                                    "is_hidden":{"description":"If this post is marked as hidden (Applies to Pages only)."},
                                                    "is_instagram_eligible":{"description":"Whether this post can be promoted in Instagram."},
                                                    "is_published":{"description":"Indicates whether a scheduled post was published (applies to scheduled Page Post only, for users post and instantly published posts this value is always true). Note that this value is always false for page posts created as part of the Ad Creation process."},
                                                    "link":{"description":"The link attached to this post."},
                                                    "message":{"description":"The status message in the post."},
                                                    "message_tags":{"description":"An array of profiles tagged in the message text. If you read this field with a user user access token, it returns only the current user."},
                                                    "name":{"description":"The name of the link."},
                                                    "object_id":{"description":"The ID of any uploaded photo or video attached to the post."},
                                                    "parent_id":{"description":"The ID of a parent post for this post, if it exists. For example, if this story is a 'Your Page was mentioned in a post' story, the parent_id will be the original post where the mention happened."},
                                                    "permalink_url":{"description":"URL to the permalink page of the post."},
                                                    "picture":{"description":"URL to a resized version of the Photo published in the Post or scraped from a link in the Post. If the photo's largest dimension exceeds 130 pixels, it will be resized, with the largest dimension set to 130."},
                                                    "place":{"description":"Any location information attached to the post."},
                                                    "privacy":{"description":"The privacy settings of the post."},
                                                    "promotable_id":{"description":"ID of post to use for promotion for stories that cannot be promoted directly."},
                                                    "promotion_status":{"description":"Status of the promotion. Requires Page admin privileges. Possible values:"},
                                                    "properties":{"description":"A list of properties for any attached video, for example, the length of the video."},
                                                    "shares":{"description":"The shares count of this post. The share count may include deleted posts and posts you cannot see for privacy reasons."},
                                                    "source":{"description":"A URL to any Flash movie or video file attached to the post."},
                                                    "status_type":{"description":"Description of the type of a status update."},
                                                    "story":{"description":"Deprecated"},
                                                    "story_tags":{"description":"Deprecated field, same as message_tags."},
                                                    "targeting":{"description":"Object that limits the audience for this content. Only audiences in the specified demographics can view this content. The demographics are additive. Each additional value adds its audience to the cumulative targeted audience. These values do not override any Page-level demographic restrictions that may be in place."},
                                                    "to":{"description":"Profiles mentioned or targeted in this post. If you read this field with a user access token, it returns only the current user."},
                                                    "type":{"description":"A string indicating the object type of this post."},
                                                    "updated_time":{"description":"This field's behavior depends on the type of object the Post is on:"},
                                                    "with_tags":{"description":"Profiles tagged as being 'with' the publisher of the post. If you read this field with a user access token, it returns only the current user."}                            
                                               }
                                           }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }  
        },
		"/{page-id}/likes": {
			"get":{
			"summary": "The Pages that this Page has liked",
			"externalDocs": {
                    "url":" https://developers.facebook.com/docs/graph-api/reference/page/likes/"
                },
			"parameters" : [
                    {
                      "name" : "page-id",
                      "in" : "path",
                      "description" : "ID of the page",
                      "required" : true,
                      "schema":{"type":"string"}
                    },	
					{
                      "name" : "target_id",
                      "in" : "query",
                      "description" : "Target node",
                      "schema":{"type":"numeric string"}					
					},
					{
                      "name" : "fields",
                      "in" : "query",
                      "description" : "A comma-separated list of fields (see response fields).",
                      "schema" : {
                        "type" : "array",
                        "items" : {
                            "type":"string",
                            "oneOf":[
                                {"const":"id","description":"Page ID. No access token is required to access this field"},
                                {"const":"about","description":"Information about the Page"},
                                {"const":"access_token","description":"The Page's access token. Only returned if the User making the request has a role (other than Live Contributor) on the Page. If your business requires two-factor authentication, the User must also be authenticated"},
                                {"const":"ad_campaign","description":"The Page's currently running promotion campaign"},
                                {"const":"affiliation","description":"Affiliation of this person. Applicable to Pages representing people"},
                                {"const":"app_id","description":"App ID for app-owned Pages and app Pages"},
                                {"const":"app_links","description":"AppLinks data associated with the Page's URL"},
                                {"const":"artists_we_like","description":"Artists the band likes. Applicable to Bands"},
                                {"const":"attire","description":"Dress code of the business. Applicable to Restaurants or Nightlife. Can be one of Casual, Dressy or Unspecified"},
                                {"const":"awards","description":"The awards information of the film. Applicable to Films"},
                                {"const":"band_interests","description":"Band interests. Applicable to Bands"},
                                {"const":"band_members","description":"Members of the band. Applicable to Bands"},
                                {"const":"best_page","description":"The best available Page on Facebook for the concept represented by this Page. The best available Page takes into account authenticity and the number of likes"},
                                {"const":"bio","description":"Biography of the band. Applicable to Bands"},
                                {"const":"birthday","description":"Birthday of this person. Applicable to Pages representing people"},
                                {"const":"booking_agent","description":"Booking agent of the band. Applicable to Bands"},
                                {"const":"built","description":"Year vehicle was built. Applicable to Vehicles"},
                                {"const":"business","description":"The Business associated with this Page. Requires business_management permissions, and a page or user access token. The person requesting the access token must be an admin of the page."},
                                {"const":"can_checkin","description":"Whether this page has checkin functionality enabled"},
                                {"const":"can_post","description":"Whether the current session user can post on this Page"},
                                {"const":"category","description":"The Page's category. e.g. Product/Service, Computers/Technology"},
                                {"const":"category_list","description":"The Page's sub-categories"},
                                {"const":"checkins","description":"Number of checkins at a place represented by a Page"},
                                {"const":"company_overview","description":"The company overview. Applicable to Companies"},
                                {"const":"connected_instagram_account","description":"Instagram account connected to page via page settings"},
                                {"const":"contact_address","description":"The mailing or contact address for this page. This field will be blank if the contact address is the same as the physical address"},
                                {"const":"context","description":"Social context for this Page"},
                                {"const":"copyright_attribution_insights","description":"Insight metrics that measures performance of copyright attribution. An example metric would be number of incremental followers from attribution"},
                                {"const":"copyright_whitelisted_ig_partners","description":"Whitelisted Instagram usernames that will not be reported in copyright match systems"},
                                {"const":"country_page_likes","description":"If this is a Page in a Global Pages hierarchy, the number of people who are being directed to this Page"},
                                {"const":"cover","description":"Information about the page's cover photo"},
                                {"const":"culinary_team","description":"Culinary team of the business. Applicable to Restaurants or Nightlife"},
                                {"const":"current_location","description":"Current location of the Page"},
                                {"const":"description","description":"The description of the Page"},
                                {"const":"description_html","description":"The description of the Page in raw HTML"},
                                {"const":"directed_by","description":"The director of the film. Applicable to Films"},
                                {"const":"display_subtext","description":"Subtext about the Page being viewed"},
                                {"const":"displayed_message_response_time","description":"Page estimated message response time displayed to user"},
                                {"const":"emails","description":"The emails listed in the About section of a Page"},
                                {"const":"engagement","description":"The social sentence and like count information for this Page. This is the same info used for the like button"},
                                {"const":"fan_count","description":"The number of users who like the Page. For Global Pages this is the count for all Pages across the brand"},
                                {"const":"featured_video","description":"Video featured by the Page"},
                                {"const":"features","description":"Features of the vehicle. Applicable to Vehicles"},
                                {"const":"food_styles","description":"The restaurant's food styles. Applicable to Restaurants"},
                                {"const":"founded","description":"When the company was founded. Applicable to Pages in the Company category"},
                                {"const":"general_info","description":"General information provided by the Page"},
                                {"const":"general_manager","description":"General manager of the business. Applicable to Restaurants or Nightlife"},
                                {"const":"genre","description":"The genre of the film. Applicable to Films"},
                                {"const":"global_brand_page_name","description":"The name of the Page with country codes appended for Global Pages. Only visible to the Page admin"},
                                {"const":"global_brand_root_id","description":"This brand's global Root ID"},
                                {"const":"has_added_app","description":"Indicates whether this Page has added the app making the query in a Page tab"},
                                {"const":"has_whatsapp_number","description":"has whatsapp number"},
                                {"const":"hometown","description":"Hometown of the band. Applicable to Bands"},
                                {"const":"hours","description":"Indicates a single range of opening hours for a day. Each day can have 2 different hours ranges. The keys in the map are in the form of {day}_{number}_{status}. {day} should be the first 3 characters of the day of the week, {number} should be either 1 or 2 to allow for the two different hours ranges per day. {status} should be either open or close to delineate the start or end of a time range. An example would be mon_1_open with value 17:00 and mon_1_close with value 21:15 which would represent a single opening range of 5pm to 9:15pm on Mondays. If one specific day is open 24 hours, the range should be specified as 00:00 to 24:00. If the place is open 24/7, is_always_open field should be set directly"},
                                {"const":"impressum","description":"Legal information about the Page publishers"},
                                {"const":"influences","description":"Influences on the band. Applicable to Bands"},
                                {"const":"instagram_business_account","description":"Instagram account linked to page during Instagram business conversion flow"},
                                {"const":"instant_articles_review_status","description":"Indicates the current Instant Articles review status for this page"},
                                {"const":"is_always_open","description":"Indicates whether this location is always open"},
                                {"const":"is_chain","description":"Indicates whether location is part of a chain"},
                                {"const":"is_community_page","description":"Indicates whether the Page is a community Page"},
                                {"const":"is_eligible_for_branded_content","description":"Indicates whether the page is eligible for the branded content tool"},
                                {"const":"is_messenger_bot_get_started_enabled","description":"Indicates whether the page is a Messenger Platform Bot with Get Started button enabled"},
                                {"const":"is_messenger_platform_bot","description":"Indicates whether the page is a Messenger Platform Bot"},
                                {"const":"is_owned","description":"Indicates whether page is owned"},
                                {"const":"is_permanently_closed","description":"Whether the business corresponding to this Page is permanently closed"},
                                {"const":"is_published","description":"Indicates whether the Page is published and visible to non-admins"},
                                {"const":"is_unclaimed","description":"Indicates whether the Page is unclaimed"},
                                {"const":"is_verified","description":"Deprecated, use \"verification_status\". Pages with a large number of followers can be manually verified by Facebook as [having an authentic identity] (https://www.facebook.com/help/196050490547892). This field indicates whether the page is verified by this process"},
                                {"const":"is_webhooks_subscribed","description":"Indicates whether the application is subscribed for real time updates from this page"},
                                {"const":"keywords","description":"Deprecated. Returns null"},
                                {"const":"leadgen_form_preview_details","description":"The details needed to generate an accurate preview of a lead gen form"},
                                {"const":"leadgen_has_crm_integration","description":"Indicates whether this page hasApp subscribes page leads realtime update"},
                                {"const":"leadgen_has_fat_ping_crm_integration","description":"Indicates whether this pagehas App that subscribes page leads realtime update via fat ping"},
                                {"const":"leadgen_tos_acceptance_time","description":"Indicates the time when the TOS for running LeadGen Ads on the page was accepted"},
                                {"const":"leadgen_tos_accepted","description":"Indicates whether a user has accepted the TOS for running LeadGen Ads on the Page"},
                                {"const":"leadgen_tos_accepting_user","description":"Indicates the user who accepted the TOS for running LeadGen Ads on the page"},
                                {"const":"link","description":"The Page's Facebook URL"},
                                {"const":"location","description":"The location of this place. Applicable to all Places"},
                                {"const":"members","description":"Members of this org. Applicable to Pages representing Team Orgs"},
                                {"const":"merchant_id","description":"The instant workflow merchant id associated with the Page"},
                                {"const":"merchant_review_status","description":"Review status of the Page against FB commerce policies, this status decides whether the Page can use component flow"},
                                {"const":"messenger_ads_default_icebreakers","description":"The default ice breakers for a certain page"},
                                {"const":"messenger_ads_default_page_welcome_message","description":"The default page welcome message for Click to Messenger Ads"},
                                {"const":"messenger_ads_default_quick_replies","description":"The default quick replies for a certain page"},
                                {"const":"messenger_ads_quick_replies_type","description":"Indicates what type this page is and we will generate different sets of quick replies based on it"},
                                {"const":"mission","description":"The company mission. Applicable to Companies"},
                                {"const":"mpg","description":"MPG of the vehicle. Applicable to Vehicles"},
                                {"const":"name","description":"The name of the Page"},
                                {"const":"name_with_location_descriptor","description":"The name of the Page with its location and/or global brand descriptor. Only visible to a page admin. Non-page admins will get the same value as name."},
                                {"const":"network","description":"The TV network for the TV show. Applicable to TV Shows"},
                                {"const":"new_like_count","description":"The number of people who have liked the Page, since the last login. Only visible to a page admin"},
                                {"const":"offer_eligible","description":"Offer eligibility status. Only visible to a page admin"},
                                {"const":"overall_star_rating","description":"Overall page rating based on rating survey from users on a scale of 1-5. This value is normalized and is not guaranteed to be a strict average of user ratings. If there are 0 or a small number of ratings, this field will not be returned."},
                                {"const":"page_about_story","description":"A Page About Story is a document located in your Page's About section. It tells your Page's story with rich text and images and can be updated as your story evolves"},
                                {"const":"page_token","description":"page token"},
                                {"const":"parent_page","description":"Parent Page for this Page"},
                                {"const":"parking","description":"Parking information. Applicable to Businesses and Places"},
                                {"const":"payment_options","description":"Payment options accepted by the business. Applicable to Restaurants or Nightlife"},
                                {"const":"personal_info","description":"Personal information. Applicable to Pages representing People"},
                                {"const":"personal_interests","description":"Personal interests. Applicable to Pages representing People"},
                                {"const":"pharma_safety_info","description":"Pharmacy safety information. Applicable to Pharmaceutical companies"},
                                {"const":"phone","description":"Phone number provided by a Page"},
                                {"const":"place_type","description":"For places, the category of the place"},
                                {"const":"plot_outline","description":"The plot outline of the film. Applicable to Films"},
                                {"const":"preferred_audience","description":"Group of tags describing the preferred audienceof ads created for the Page"},
                                {"const":"press_contact","description":"Press contact information of the band. Applicable to Bands"},
                                {"const":"price_range","description":"Price range of the business. Applicable to Restaurants or Nightlife. Can be one of $, $$, $$$, $$$$ or Unspecified"},
                                {"const":"privacy_info_url","description":"Privacy url in page info section"},
                                {"const":"produced_by","description":"The productor of the film. Applicable to Films"},
                                {"const":"products","description":"The products of this company. Applicable to Companies"},
                                {"const":"promotion_eligible","description":"Boosted posts eligibility status. Only visible to a page admin"},
                                {"const":"promotion_ineligible_reason","description":"Reason for which boosted posts are not eligible. Only visible to a page admin"},
                                {"const":"public_transit","description":"Public transit to the business. Applicable to Restaurants or Nightlife"},
                                {"const":"rating_count","description":"Number of ratings for the page (limited to ratings that are publicly accessible)"},
                                {"const":"recipient","description":"Messenger page scope id associated with page and a user using account_linking_token"},
                                {"const":"record_label","description":"Record label of the band. Applicable to Bands"},
                                {"const":"release_date","description":"The film's release date. Applicable to Films"},
                                {"const":"restaurant_services","description":"Services the restaurant provides. Applicable to Restaurants"},
                                {"const":"restaurant_specialties","description":"The restaurant's specialties. Applicable to Restaurants"},
                                {"const":"schedule","description":"The air schedule of the TV show. Applicable to TV Shows"},
                                {"const":"screenplay_by","description":"The screenwriter of the film. Applicable to Films"},
                                {"const":"season","description":"The season information of the TV Show. Applicable to TV Shows"},
                                {"const":"single_line_address","description":"The page address, if any, in a simple single line format."},
                                {"const":"starring","description":"The cast of the film. Applicable to Films"},
                                {"const":"start_info","description":"Information about when the entity represented by the Page was started"},
                                {"const":"store_code","description":"Unique store code for this location Page"},
                                {"const":"store_location_descriptor","description":"Location Page's store location descriptor"},
                                {"const":"store_number","description":"Unique store number for this location Page"},
                                {"const":"studio","description":"The studio for the film production. Applicable to Films"},
                                {"const":"supports_instant_articles","description":"Indicates whether this Page supports Instant Articles"},
                                {"const":"talking_about_count","description":"The number of people talking about this Page"},
                                {"const":"unread_message_count","description":"Unread message count for the Page. Only visible to a page admin"},
                                {"const":"unread_notif_count","description":"Number of unread notifications. Only visible to a page admin"},
                                {"const":"unseen_message_count","description":"Unseen message count for the Page. Only visible to a page admin"},
                                {"const":"username","description":"The alias of the Page. For example, for www.facebook.com/platform the username is 'platform'"},
                                {"const":"verification_status","description":"Showing whether this Page is verified and in what color e.g. blue verified, gray verified or not verified"},
                                {"const":"voip_info","description":"Voip info"},
                                {"const":"website","description":"The URL of the Page's website"},
                                {"const":"were_here_count","description":"The number of visits to this Page's location. If the Page setting Show map, check-ins and star ratings on the Page (under Page Settings > Page Info > Address) is disabled, then this value will also be disabled"},
                                {"const":"whatsapp_number","description":"whatsapp number"},
                                {"const":"written_by","description":"The writer of the TV show. Applicable to TV Shows"}                            
                            ]
                        }
                      },
                      "example" : "id, name, about, website, talking_about_count"
                    }
				],
            "responses" : {
				"200" : {
					"description" : "An array of Page-Nodes.",
					"content" : {
						"application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "data" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"id":{"description":"Page ID. No access token is required to access this field"},
													"about":{"description":"Information about the Page"},
													"access_token":{"description":"The Page's access token. Only returned if the User making the request has a role (other than Live Contributor) on the Page. If your business requires two-factor authentication, the User must also be authenticated"},
													"ad_campaign":{"description":"The Page's currently running promotion campaign"},
													"affiliation":{"description":"Affiliation of this person. Applicable to Pages representing people"},
													"app_id":{"description":"App ID for app-owned Pages and app Pages"},
													"app_links":{"description":"AppLinks data associated with the Page's URL"},
													"artists_we_like":{"description":"Artists the band likes. Applicable to Bands"},
													"attire":{"description":"Dress code of the business. Applicable to Restaurants or Nightlife. Can be one of Casual, Dressy or Unspecified"},
													"awards":{"description":"The awards information of the film. Applicable to Films"},
													"band_interests":{"description":"Band interests. Applicable to Bands"},
													"band_members":{"description":"Members of the band. Applicable to Bands"},
													"best_page":{"description":"The best available Page on Facebook for the concept represented by this Page. The best available Page takes into account authenticity and the number of likes"},
													"bio":{"description":"Biography of the band. Applicable to Bands"},
													"birthday":{"description":"Birthday of this person. Applicable to Pages representing people"},
													"booking_agent":{"description":"Booking agent of the band. Applicable to Bands"},
													"built":{"description":"Year vehicle was built. Applicable to Vehicles"},
													"business":{"description":"The Business associated with this Page. Requires business_management permissions, and a page or user access token. The person requesting the access token must be an admin of the page."},
													"can_checkin":{"description":"Whether this page has checkin functionality enabled"},
													"can_post":{"description":"Whether the current session user can post on this Page"},
													"category":{"description":"The Page's category. e.g. Product/Service, Computers/Technology"},
													"category_list":{"description":"The Page's sub-categories"},
													"checkins":{"description":"Number of checkins at a place represented by a Page"},
													"company_overview":{"description":"The company overview. Applicable to Companies"},
													"connected_instagram_account":{"description":"Instagram account connected to page via page settings"},
													"contact_address":{"description":"The mailing or contact address for this page. This field will be blank if the contact address is the same as the physical address"},
													"context":{"description":"Social context for this Page"},
													"copyright_attribution_insights":{"description":"Insight metrics that measures performance of copyright attribution. An example metric would be number of incremental followers from attribution"},
													"copyright_whitelisted_ig_partners":{"description":"Whitelisted Instagram usernames that will not be reported in copyright match systems"},
													"country_page_likes":{"description":"If this is a Page in a Global Pages hierarchy, the number of people who are being directed to this Page"},
													"cover":{"description":"Information about the page's cover photo"},
													"culinary_team":{"description":"Culinary team of the business. Applicable to Restaurants or Nightlife"},
													"current_location":{"description":"Current location of the Page"},
													"description":{"description":"The description of the Page"},
													"description_html":{"description":"The description of the Page in raw HTML"},
													"directed_by":{"description":"The director of the film. Applicable to Films"},
													"display_subtext":{"description":"Subtext about the Page being viewed"},
													"displayed_message_response_time":{"description":"Page estimated message response time displayed to user"},
													"emails":{"description":"The emails listed in the About section of a Page"},
													"engagement":{"description":"The social sentence and like count information for this Page. This is the same info used for the like button"},
													"fan_count":{"description":"The number of users who like the Page. For Global Pages this is the count for all Pages across the brand"},
													"featured_video":{"description":"Video featured by the Page"},
													"features":{"description":"Features of the vehicle. Applicable to Vehicles"},
													"food_styles":{"description":"The restaurant's food styles. Applicable to Restaurants"},
													"founded":{"description":"When the company was founded. Applicable to Pages in the Company category"},
													"general_info":{"description":"General information provided by the Page"},
													"general_manager":{"description":"General manager of the business. Applicable to Restaurants or Nightlife"},
													"genre":{"description":"The genre of the film. Applicable to Films"},
													"global_brand_page_name":{"description":"The name of the Page with country codes appended for Global Pages. Only visible to the Page admin"},
													"global_brand_root_id":{"description":"This brand's global Root ID"},
													"has_added_app":{"description":"Indicates whether this Page has added the app making the query in a Page tab"},
													"has_whatsapp_number":{"description":"has whatsapp number"},
													"hometown":{"description":"Hometown of the band. Applicable to Bands"},
													"hours":{"description":"Indicates a single range of opening hours for a day. Each day can have 2 different hours ranges. The keys in the map are in the form of {day}_{number}_{status}. {day} should be the first 3 characters of the day of the week, {number} should be either 1 or 2 to allow for the two different hours ranges per day. {status} should be either open or close to delineate the start or end of a time range. An example would be mon_1_open with value 17:00 and mon_1_close with value 21:15 which would represent a single opening range of 5pm to 9:15pm on Mondays. If one specific day is open 24 hours, the range should be specified as 00:00 to 24:00. If the place is open 24/7, is_always_open field should be set directly"},
													"impressum":{"description":"Legal information about the Page publishers"},
													"influences":{"description":"Influences on the band. Applicable to Bands"},
													"instagram_business_account":{"description":"Instagram account linked to page during Instagram business conversion flow"},
													"instant_articles_review_status":{"description":"Indicates the current Instant Articles review status for this page"},
													"is_always_open":{"description":"Indicates whether this location is always open"},
													"is_chain":{"description":"Indicates whether location is part of a chain"},
													"is_community_page":{"description":"Indicates whether the Page is a community Page"},
													"is_eligible_for_branded_content":{"description":"Indicates whether the page is eligible for the branded content tool"},
													"is_messenger_bot_get_started_enabled":{"description":"Indicates whether the page is a Messenger Platform Bot with Get Started button enabled"},
													"is_messenger_platform_bot":{"description":"Indicates whether the page is a Messenger Platform Bot"},
													"is_owned":{"description":"Indicates whether page is owned"},
													"is_permanently_closed":{"description":"Whether the business corresponding to this Page is permanently closed"},
													"is_published":{"description":"Indicates whether the Page is published and visible to non-admins"},
													"is_unclaimed":{"description":"Indicates whether the Page is unclaimed"},
													"is_verified":{"description":"Deprecated, use \"verification_status\". Pages with a large number of followers can be manually verified by Facebook as [having an authentic identity] (https://www.facebook.com/help/196050490547892). This field indicates whether the page is verified by this process"},
													"is_webhooks_subscribed":{"description":"Indicates whether the application is subscribed for real time updates from this page"},
													"keywords":{"description":"Deprecated. Returns null"},
													"leadgen_form_preview_details":{"description":"The details needed to generate an accurate preview of a lead gen form"},
													"leadgen_has_crm_integration":{"description":"Indicates whether this page hasApp subscribes page leads realtime update"},
													"leadgen_has_fat_ping_crm_integration":{"description":"Indicates whether this pagehas App that subscribes page leads realtime update via fat ping"},
													"leadgen_tos_acceptance_time":{"description":"Indicates the time when the TOS for running LeadGen Ads on the page was accepted"},
													"leadgen_tos_accepted":{"description":"Indicates whether a user has accepted the TOS for running LeadGen Ads on the Page"},
													"leadgen_tos_accepting_user":{"description":"Indicates the user who accepted the TOS for running LeadGen Ads on the page"},
													"link":{"description":"The Page's Facebook URL"},
													"location":{"description":"The location of this place. Applicable to all Places"},
													"members":{"description":"Members of this org. Applicable to Pages representing Team Orgs"},
													"merchant_id":{"description":"The instant workflow merchant id associated with the Page"},
													"merchant_review_status":{"description":"Review status of the Page against FB commerce policies, this status decides whether the Page can use component flow"},
													"messenger_ads_default_icebreakers":{"description":"The default ice breakers for a certain page"},
													"messenger_ads_default_page_welcome_message":{"description":"The default page welcome message for Click to Messenger Ads"},
													"messenger_ads_default_quick_replies":{"description":"The default quick replies for a certain page"},
													"messenger_ads_quick_replies_type":{"description":"Indicates what type this page is and we will generate different sets of quick replies based on it"},
													"mission":{"description":"The company mission. Applicable to Companies"},
													"mpg":{"description":"MPG of the vehicle. Applicable to Vehicles"},
													"name":{"description":"The name of the Page"},
													"name_with_location_descriptor":{"description":"The name of the Page with its location and/or global brand descriptor. Only visible to a page admin. Non-page admins will get the same value as name."},
													"network":{"description":"The TV network for the TV show. Applicable to TV Shows"},
													"new_like_count":{"description":"The number of people who have liked the Page, since the last login. Only visible to a page admin"},
													"offer_eligible":{"description":"Offer eligibility status. Only visible to a page admin"},
													"overall_star_rating":{"description":"Overall page rating based on rating survey from users on a scale of 1-5. This value is normalized and is not guaranteed to be a strict average of user ratings. If there are 0 or a small number of ratings, this field will not be returned."},
													"page_about_story":{"description":"A Page About Story is a document located in your Page's About section. It tells your Page's story with rich text and images and can be updated as your story evolves"},
													"page_token":{"description":"page token"},
													"parent_page":{"description":"Parent Page for this Page"},
													"parking":{"description":"Parking information. Applicable to Businesses and Places"},
													"payment_options":{"description":"Payment options accepted by the business. Applicable to Restaurants or Nightlife"},
													"personal_info":{"description":"Personal information. Applicable to Pages representing People"},
													"personal_interests":{"description":"Personal interests. Applicable to Pages representing People"},
													"pharma_safety_info":{"description":"Pharmacy safety information. Applicable to Pharmaceutical companies"},
													"phone":{"description":"Phone number provided by a Page"},
[...]
