{
    "openapi": "3.0.0",
    "x-facepager-module":"Twitter",

    "x-facepager-extract" : "results",
	"x-facepager-objectid" : "id",
	"x-facepager-pagination": {
		"method" : "key",
		"param" : "cursor",
		"key" : "next_cursor_str",
		"stop" : "next_cursor"
	},

    "info": {
        "title": "Twitter API",
        "description": "The Twitter API lets you search for tweets and get user information.",
        "termsOfService": "https://developer.twitter.com/en/developer-terms",
        "version": "1.1"
    },
    "externalDocs": {
        "url":"https://developer.twitter.com/en/docs/api-reference-index"
    },
    "servers": [
        {
            "url":"https://api.twitter.com/1.1",
            "x-facepager-suffix": ".json"
        }
    ],
    "paths":{
		"/application/rate_limit_status": {
            "get" : {
                "summary" : "Returns the current rate limits for methods belonging to the specified resource families. Each API resource belongs to a 'resource family' which is indicated in its method documentation. The method's resource family can be determined from the first component of the path after the resource version. This method responds with a map of methods belonging to the families specified by the resources parameter, the current remaining uses for each of those resources within the current rate limiting window, and their expiration time in epoch time. It also includes a rate_limit_context field that indicates the current access token or application-only authentication context. You may also issue requests to this method without any parameters to receive a map of all rate limited GET methods. If your application only uses a few of methods, you should explicitly provide a resources parameter with the specified resource families you work with. When using application-only auth, this method's response indicates the application-only auth rate limiting context. Read more about API Rate Limiting and review the limits.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/developer-utilities/rate-limit-status/api-reference/get-application-rate_limit_status"
                },  
                "parameters" : [                 
					{
					  "name" : "resources",
					   "in" : "query",
					   "description" : "A comma-separated list of resource families you want to know the current rate limit disposition for. For best performance, only specify the resource families pertinent to your application. See API Rate Limiting for more information.",
					   "schema":{"type":"string"},
					   "example": "statuses, friends, trends, help"
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "The current rate limit for methods belonging to the specified resource families.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object"
								}
							}
						}
					}
				}
			}				
		},
		"/collections/entries" : {
			"get" : {
				"summary": "Retrieve the identified Collection, presented as a list of the Tweets curated within. The response structure of this method differs significantly from timelines you may be used to working with elsewhere in the Twitter API. To navigate a Collection, use the position object of a response, which includes attributes for max_position, min_position, and was_truncated. was_truncated indicates whether additional Tweets exist in the collection outside of the range of the current request. To retrieve Tweets further back in time, use the value of min_position found in the current response as the max_position parameter in the next call to this endpoint.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/tweets/curate-a-collection/api-reference/get-collections-entries"
				},
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"required": true,
						"description": "The identifier of the Collection for which to return results.",
						 "schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "Specifies the maximum number of results to include in the response. Specify a count between 1 and 200. A next_cursor value will be provided in the response if additional results are available.",
						 "schema":{"type":"string"}
					},
					{
						"name": "max_position",
						"in": "query",
						"description": "Returns results with a position value less than or equal to the specified position.",
						 "schema":{"type":"string"}
					},
					{
						"name": "min_position",
						"in": "query",
						"description": "Returns results with a position greater than the specified position.",
						 "schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "An identified Collection, presented as a list of the Tweets curated within.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object"
								}
							}
						}
					}
				}
			}
		},
		"/collections/list": {
			"get" : {
				"summary": "Find Collections created by a specific user or containing a specific curated Tweet. Results are organized in a cursored collection.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/tweets/curate-a-collection/api-reference/get-collections-list"
				},
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the user for whom to return results.",
						 "schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"required": true,
						"description": "The screen name of the user for whom to return results.",
						 "schema":{"type":"string"}
					},
					{
						"name": "tweet_id",
						"in": "query",
						"description": "The identifier of the Tweet for which to return results.",
						 "schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "Specifies the maximum number of results to include in the response. Specify a count between 1 and 200. A next_cursor value will be provided in the response if additional results are available.",
						 "schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "A string identifying the segment of the current result set to retrieve. Values for this parameter are yielded in the cursors node attached to response objects. Usage of the count parameter affects cursoring.",
						 "schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Collections created by a specific user or containing a specific curated Tweet. Results are organized in a cursored collection.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object"
								}
							}
						}
					}
				}
			}
		},
		"/collections/show": {
			"get" : {
				"summary": "Retrieve information associated with a specific Collection.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/tweets/curate-a-collection/api-reference/get-collections-show"
				},
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"required": true,
						"description": "The identifier of the Collection for which to return results.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Information associated with a specific Collection.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object"
								}
							}
						}
					}
				}
			}				
		},
		"/favorites/list": {
			"get" : {
				"summary": "Note: favorites are now known as likes. Returns the 20 most recent Tweets liked by the authenticating or specified user.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/get-favorites-list"
				},
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the user for whom to return results.",
						 "schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"example": "<Object ID>",
						"description": "The screen name of the user for whom to return results.",
						 "schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "Specifies the number of records to retrieve. Must be less than or equal to 200; defaults to 20. The value of count is best thought of as a limit to the number of Tweets to return because suspended or deleted content is removed after the count has been applied.",
						 "schema":{"type":"string"}
					},
					{
						"name": "since_id",
						"in": "query",
						"description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has occured since the since_id, the since_id will be forced to the oldest ID available.",
						 "schema":{"type":"string"}
					},
					{
						"name": "max_id",
						"in": "query",
						"description": "Returns results with an ID less than (that is, older than) or equal to the specified ID.",
						 "schema":{"type":"string"}
					},
					{
						"name": "include_entities",
						"in": "query",
						"description": "The entities node will be omitted when set to false.",
						 "schema":{"type":"string"}
					}
				],
				"x-facepager-pagination": {
					"method" : "decrease",
					"param" : "max_id",
					"key" : "id"
				},
			"responses" : {
				"200" : {
					"description" : "The 20 most recent Tweets liked by the authenticating or specified user.",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "array",
									"items": {
										"type":"object",
										"properties": {
											"$ref" : "#components/schema/tweet/properties"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/followers/ids": {
            "get" : {
                "summary" : "Returns a cursored collection of user IDs for every user following the specified user. At this time, results are ordered with the most recent following first - however, this ordering is subject to unannounced change and eventual consistency issues. Results are given in groups of 5,000 user IDs and multiple 'pages' of results can be navigated through using the next_cursor value in subsequent requests. See Using cursors to navigate collections for more information. This method is especially powerful when used in conjunction with GET users / lookup, a method that allows you to convert user IDs into full user objects in bulk.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-followers-ids"
                },
                "parameters" : [
					{
					  "name" : "user_id",
					   "in" : "query",
					   "description" : "The ID of the user for whom to return results.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "screen_name",
					   "in" : "query",
					   "example": "<Object ID>",
					   "description" : "The screen name of the user for whom to return results.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "cursor",
					   "in" : "query",
					   "description" : "Causes the list of connections to be broken into pages of no more than 5000 IDs at a time. The number of IDs returned is not guaranteed to be 5000 as suspended users are filtered out after connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first 'page.' The response from the API will include a previous_cursor and next_cursor to allow paging back and forth. See Using cursors to navigate collections for more information.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "stringify_ids",
					   "in" : "query",
					   "description" : "Some programming environments will not consume Twitter IDs due to their size. Provide this option to have IDs returned as strings instead. More about Twitter IDs.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "count",
					   "in" : "query",
					   "description" : "Specifies the number of IDs attempt retrieval of, up to a maximum of 5,000 per distinct request. The value of count is best thought of as a limit to the number of results to return. When using the count parameter with this method, it is wise to use a consistent count value across all requests to the same user's collection. Usage of this parameter is encouraged in environments where all 5,000 IDs constitutes too large of a response.",
					   "schema":{"type":"string"}
					}
				],
			"responses" : {
				"200" : {
					"description" : "A cursored collection of user IDs for every user following the specified user.",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-facepager-extract" : "ids",
									"x-facepager-objectid" : "ids",
									"properties": {
										"ids": {
											"type": "array"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/followers/list": {
            "get" : {
                "summary" : "Returns a cursored collection of user objects for users following the specified user. At this time, results are ordered with the most recent following first - however, this ordering is subject to unannounced change and eventual consistency issues. Results are given in groups of 20 users and multiple 'pages' of results can be navigated through using the next_cursor value in subsequent requests. See Using cursors to navigate collections for more information.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-followers-list"
                },
                "parameters" : [
					{
					  "name" : "user_id",
					   "in" : "query",
					   "description" : "The ID of the user for whom to return results.",
					   "schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"example" : "<Object ID>",
						"description": "The screen name of the user for whom to return results.",
						 "schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Causes the results to be broken into pages. If no cursor is provided, a value of -1 will be assumed, which is the first 'page.' The response from the API will include a previous_cursor and next_cursor to allow paging back and forth. See Using cursors to navigate collections for more information.",
						 "schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "The number of users to return per page, up to a maximum of 200. Defaults to 20.",
						 "schema":{"type":"string"}
					},
					{
						"name": "skip_status",
						"in": "query",
						"description": "When set to either true, t or 1, statuses will not be included in the returned user objects. If set to any other value, statuses will be included.",
						 "schema":{"type":"string"}
					},
					{
						"name": "include_user_entities",
						"in": "query",
						"description": "The user object entities node will not be included when set to false.",
						 "schema":{"type":"string"}
					}
				],
			"responses" : {
				"200" : {
					"description" : "A cursored collection of user objects for users following the specified user.",
					"content" : {
						"application/json": {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "users",
									"properties": {
										"users" : {
											"type": "array"
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/friends/ids": {
			"get" : {
				"summary": "Returns a cursored collection of user IDs for every user the specified user is following (otherwise known as their 'friends'). At this time, results are ordered with the most recent following first - however, this ordering is subject to unannounced change and eventual consistency issues. Results are given in groups of 5,000 user IDs and multiple 'pages' of results can be navigated through using the next_cursor value in subsequent requests. See Using cursors to navigate collections for more information. This method is especially powerful when used in conjunction with GET users / lookup, a method that allows you to convert user IDs into full user objects in bulk.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-friends-ids"
				},
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the user for whom to return results.",
						"schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"example": "<Object ID>",
						"description": "The screen name of the user for whom to return results.",
						"schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Causes the list of connections to be broken into pages of no more than 5000 IDs at a time. The number of IDs returned is not guaranteed to be 5000 as suspended users are filtered out after connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first 'page.' The response from the API will include a previous_cursor and next_cursor to allow paging back and forth. See Using cursors to navigate collections for more information.",
						"schema":{"type":"string"}
					},
					{
						"name": "stringify_ids",
						"in": "query",
						"description": "Some programming environments will not consume Twitter IDs due to their size. Provide this option to have IDs returned as strings instead. More about Twitter IDs.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "Specifies the number of IDs attempt retrieval of, up to a maximum of 5,000 per distinct request. The value of count is best thought of as a limit to the number of results to return. When using the count parameter with this method, it is wise to use a consistent count value across all requests to the same user's collection. Usage of this parameter is encouraged in environments where all 5,000 IDs constitutes too large of a response.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "A cursored collection of user IDs for every user the specified user is following (otherwise known as their 'friends').",
                        "content" : {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "x-facepager-extract" : "ids",
									"x-facepager-objectid" : "ids",
									"properties": {
										"ids": {
											"type": "array",
											"items": {
												"properties": {
													"$ref" : "#components/schema/user/properties/id"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/friends/list": {
			"get" : {
				"summary": "Returns a cursored collection of user objects for every user the specified user is following (otherwise known as their 'friends'). At this time, results are ordered with the most recent following first - however, this ordering is subject to unannounced change and eventual consistency issues. Results are given in groups of 20 users and multiple 'pages' of results can be navigated through using the next_cursor value in subsequent requests. See Using cursors to navigate collections for more information.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-friends-list"
				},
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the user for whom to return results.",
						"schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"example": "<Object ID>",
						"description": "The screen name of the user for whom to return results.",
						"schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Causes the results to be broken into pages. If no cursor is provided, a value of -1 will be assumed, which is the first 'page.' The response from the API will include a previous_cursor and next_cursor to allow paging back and forth. See Using cursors to navigate collections for more information.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "The number of users to return per page, up to a maximum of 200.",
						"schema":{"type":"string"}
					},
					{
						"name": "skip_status",
						"in": "query",
						"description": "When set to either true, t or 1 statuses will not be included in the returned user objects.",
						"schema":{"type":"string"}
					},
					{
						"name": "include_user_entities",
						"in": "query",
						"description": "The user object entities node will not be included when set to false.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "A cursored collection of user objects for every user the specified user is following (otherwise known as their 'friends').",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "users",
									"properties": {
										"users" : {
											"type": "array",
											"items": {
												"type":"object",
												"properties": {
													"$ref" : "#components/schema/user/properties"
												}
											}
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/friendships/incoming": {
			"get" : {
				"summary": "Returns a collection of numeric IDs for every user who has a pending request to follow the authenticating user.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-friendships-incoming"
				},
				"parameters": [
					{
						"name": "cursor",
						"in": "query",
						"description": "Causes the list of connections to be broken into pages of no more than 5000 IDs at a time. The number of IDs returned is not guaranteed to be 5000 as suspended users are filtered out after connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first 'page.' The response from the API will include a previous_cursor and next_cursor to allow paging back and forth.",
						"schema":{"type":"string"}
					},
					{
						"name": "stringify_ids",
						"in": "query",
						"description": "Many programming environments will not consume our Tweet ids due to their size. Provide this option to have ids returned as strings instead.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "A collection of numeric IDs for every user who has a pending request to follow the authenticating user.",
                        "content" : {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "x-facepager-extract" : "ids",
									"x-facepager-objectid" : "ids",
									"properties": {
										"ids": {
											"type": "array",
											"items": {
												"properties": {
													"$ref" : "#components/schema/user/properties/id"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/friendships/lookup": {
			"get" : {
				"summary": "Returns the relationships of the authenticating user to the comma-separated list of up to 100 screen_names or user_ids provided. Values for connections can be: following, following_requested, followed_by, none, blocking, muting.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-friendships-lookup"
				},
				"parameters": [
					{
						"name": "screen_name",
						"in": "query",
						"description": "A comma separated list of screen names, up to 100 are allowed in a single request.",
						"schema":{"type":"string"}
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "A comma separated list of user IDs, up to 100 are allowed in a single request.",
						"schema":{"type":"string"}
					}
				],
			"responses" : {
				"200" : {
					"description" : "The relationships of the authenticating user to the comma-separated list of up to 100 screen_names or user_ids provided.",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "array",
									"items": {
										"type":"object"
									}
								}
							}
						}
					}
				}
			}
		},
		"/friendships/no_retweets/ids": {
			"get" : {
				"summary": "Returns a collection of user_ids that the currently authenticated user does not want to receive retweets from.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-friendships-no_retweets-ids"
				},
				"parameters": [
					{
						"name": "stringify_ids",
						"in": "query",
						"description": "Some programming environments will not consume Twitter IDs due to their size. Provide this option to have IDs returned as strings instead. Read more about Twitter IDs. This parameter is important to use in Javascript environments.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "A collection of user_ids that the currently authenticated user does not want to receive retweets from.",
                        "content" : {
                            "application/json" : {
                                "schema": {
                                    "type": "array"
								}
							}
						}
					}
				}
			}
		},
		"/friendships/outgoing": {
			"get" : {
				"summary": "Returns a collection of numeric IDs for every protected user for whom the authenticating user has a pending follow request.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-friendships-outgoing"
				},
				"parameters": [
					{
						"name": "cursor",
						"in": "query",
						"description": "Causes the list of connections to be broken into pages of no more than 5000 IDs at a time. The number of IDs returned is not guaranteed to be 5000 as suspended users are filtered out after connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first 'page.' The response from the API will include a previous_cursor and next_cursor to allow paging back and forth. See Using cursors to navigate collections for more information.",
						"schema":{"type":"string"}
					},
					{
						"name": "stringify_ids",
						"in": "query",
						"description": "Some programming environments will not consume Twitter IDs due to their size. Provide this option to have IDs returned as strings instead. More about Twitter IDs.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "A collection of numeric IDs for every protected user for whom the authenticating user has a pending follow request.",
                        "content" : {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "x-facepager-extract" : "ids",
									"x-facepager-objectid" : "ids",
									"properties": {
										"ids": {
											"type": "array"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/friendships/show": {
			"get" : {
				"summary": "Returns detailed information about the relationship between two arbitrary users.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/follow-search-get-users/api-reference/get-friendships-show"
				},
				"parameters": [
					{
						"name": "source_id",
						"in": "query",
						"required": true,
						"example": "<Object ID>",
						"description": "The user_id of the subject user.",
						"schema":{"type":"string"}
					},
					{
						"name": "source_screen_name",
						"in": "query",
						"description": "The screen_name of the subject user.",
						"schema":{"type":"string"}
					},
					{
						"name": "target_id",
						"in": "query",
						"required": true,
						"description": "The user_id of the target user.",
						"schema":{"type":"string"}
					},
					{
						"name": "target_screen_name",
						"in": "query",
						"description": "The screen_name of the target user.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Information about the relationship between two arbitrary users.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object"
								}
							}
						}
					}
				}
			}
		},
		"/geo/id/{place_id}": {
			"get" : {
				"summary": "Returns all the information about a known place.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/geo/place-information/api-reference/get-geo-id-place_id"
				},
				"parameters": [
					{
						"name": "place_id",
						"in": "path",
						"required": true,
						"description": "A place in the world. These IDs can be retrieved from geo/reverse_geocode.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "All the information about a known place.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"$ref" : "#components/schema/place/properties"
									}
								}
							}
						}
					}
				}
			}
		},
		"/geo/reverse_geocode": {
			"get" : {
				"summary": "Given a latitude and a longitude, searches for up to 20 places that can be used as a place_id when updating a status. This request is an informative call and will deliver generalized results about geography.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/geo/places-near-location/api-reference/get-geo-reverse_geocode"
				},
				"parameters": [
					{
						"name": "lat",
						"in": "query",
						"required": true,
						"description": "The latitude to search around. This parameter will be ignored unless it is inside the range -90.0 to +90.0 (North is positive) inclusive. It will also be ignored if there isn't a corresponding long parameter.",
						"schema":{"type":"string"}
					},
					{
						"name": "long",
						"in": "query",
						"required": true,
						"description": "The longitude to search around. The valid ranges for longitude are -180.0 to +180.0 (East is positive) inclusive. This parameter will be ignored if outside that range, if it is not a number, if geo_enabled is disabled, or if there not a corresponding lat parameter.",
						"schema":{"type":"string"}
					},
					{
						"name": "accuracy",
						"in": "query",
						"description": "A hint on the 'region' in which to search. If a number, then this is a radius in meters, but it can also take a string that is suffixed with ft to specify feet. If this is not passed in, then it is assumed to be 0m. If coming from a device, in practice, this value is whatever accuracy the device has measuring its location (whether it be coming from a GPS, WiFi triangulation, etc.).",
						"schema":{"type":"string"}
					},
					{
						"name": "granularity",
						"in": "query",
						"description": "This is the minimal granularity of place types to return and must be one of: neighborhood, city, admin or country . If no granularity is provided for the request neighborhood is assumed. Setting this to city, for example, will find places which have a type of city, admin or country.",
						"schema":{"type":"string"}
					},
					{
						"name": "max_results",
						"in": "query",
						"description": "A hint as to the number of results to return. This does not guarantee that the number of results returned will equal max_results, but instead informs how many 'nearby' results to return. Ideally, only pass in the number of places you intend to display to the user here.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Places that can be used as a place_id when updating a status.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "places",
									"properties": {
										"places" : {
											"type": "array",
											"items": {
												"type":"object",
												"properties": {
													"$ref" : "#components/schema/place/properties"
												}
											}
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/geo/search": {
			"get" : {
				"summary": "Search for places that can be attached to a Tweet via POST statuses/update. Given a latitude and a longitude pair, an IP address, or a name, this request will return a list of all the valid places that can be used as the place_id when updating a status. Conceptually, a query can be made from the user's location, retrieve a list of places, have the user validate the location they are at, and then send the ID of this location with a call to POST statuses/update. This is the recommended method to use find places that can be attached to statuses/update. Unlike GET geo/reverse_geocode which provides raw data access, this endpoint can potentially re-order places with regards to the user who is authenticated. This approach is also preferred for interactive place matching with the user. Some parameters in this method are only required based on the existence of other parameters. For instance, 'lat' is required if 'long' is provided, and vice-versa. Authentication is recommended, but not required with this method.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/geo/places-near-location/api-reference/get-geo-search"
				},
				"parameters": [
					{
						"name": "lat",
						"in": "query",
						"required": true,
						"description": "The latitude to search around. This parameter will be ignored unless it is inside the range -90.0 to +90.0 (North is positive) inclusive. It will also be ignored if there isn't a corresponding long parameter.",
						"schema":{"type":"string"}
					},
					{
						"name": "long",
						"in": "query",
						"required": true,
						"description": "The longitude to search around. The valid ranges for longitude are -180.0 to +180.0 (East is positive) inclusive. This parameter will be ignored if outside that range, if it is not a number, if geo_enabled is disabled, or if there not a corresponding lat parameter.",
						"schema":{"type":"string"}
					},
					{
						"name": "query",
						"in": "query",
						"description": "Free-form text to match against while executing a geo-based query, best suited for finding nearby locations by name. Remember to URL encode the query.",
						"schema":{"type":"string"}
					},
					{
						"name": "ip",
						"in": "query",
						"description": "An IP address. Used when attempting to fix geolocation based off of the user's IP address.",
						"schema":{"type":"string"}
					},
					{
						"name": "granularity",
						"in": "query",
						"description": "This is the minimal granularity of place types to return and must be one of: neighborhood , city , admin or country. If no granularity is provided for the request neighborhood is assumed. Setting this to city, for example, will find places which have a type of city, admin or country.",
						"schema":{"type":"string"}
					},
					{
						"name": "accuracy",
						"in": "query",
						"description": "A hint on the 'region' in which to search. If a number, then this is a radius in meters, but it can also take a string that is suffixed with ft to specify feet. If this is not passed in, then it is assumed to be 0m . If coming from a device, in practice, this value is whatever accuracy the device has measuring its location (whether it be coming from a GPS, WiFi triangulation, etc.).",
						"schema":{"type":"string"}
					},
					{
						"name": "max_results",
						"in": "query",
						"description": "A hint as to the number of results to return. This does not guarantee that the number of results returned will equal max_results, but instead informs how many 'nearby' results to return. Ideally, only pass in the number of places you intend to display to the user here.",
						"schema":{"type":"string"}
					},
					{
						"name": "contained_within",
						"in": "query",
						"description": "This is the place_id which you would like to restrict the search results to. Setting this value means only places within the given place_id will be found. Specify a place_id. For example, to scope all results to places within 'San Francisco, CA USA', you would specify a place_id of '5a110d312052166f'.",
						"schema":{"type":"string"}
					},
					{
						"name": "attribute:street_address",
						"in": "query",
						"description": "This parameter searches for places which have this given street address. There are other well-known, and application specific attributes available. Custom attributes are also permitted. Learn more about Place attributes.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Places that can be attached to a Tweet via POST statuses/update.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "places",
									"properties": {
										"places" : {
											"type": "array",
											"items": {
												"type":"object",
												"properties": {
													"$ref" : "#components/schema/place/properties"
												}
											}
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/help/configuration":{
			"get" : {
				"summary": "Returns the current configuration used by Twitter including twitter.com slugs which are not usernames, maximum photo resolutions, and t.co shortened URL length. It is recommended applications request this endpoint when they are loaded, but no more than once a day. It is recommended applications request this endpoint when they are loaded, but no more than once a day.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/developer-utilities/configuration/api-reference/get-help-configuration"
				},
			   "parameters": [],
               "responses" : {
                    "200" : {
                        "description" : "The current configuration used by Twitter including twitter.com slugs which are not usernames, maximum photo resolutions, and t.co shortened URL length.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object"
								}
							}
						}
					}
				}
			}
		},
		"/help/languages": {
			"get" : {
				"summary": "Returns the list of languages supported by Twitter along with the language code supported by Twitter. The language code may be formatted as ISO 639-1 alpha-2 (en), ISO 639-3 alpha-3 (msa), or ISO 639-1 alpha-2 combined with an ISO 3166-1 alpha-2 localization (zh-tw).",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/developer-utilities/supported-languages/api-reference/get-help-languages"
				},
			   "parameters": [],
				"responses" : {
					"200" : {
						"description" : "A list of languages supported by Twitter along with the language code supported by Twitter.",
						"content" : {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type":"object"
									}
								}
							}
						}
					}
				}
			}
		},
		"/lists/list": {
			"get" : {
				"summary": "Returns all lists the authenticating or specified user subscribes to, including their own. The user is specified using the user_id or screen_name parameters. If no user is given, the authenticating user is used. A maximum of 100 results will be returned by this call. Subscribed lists are returned first, followed by owned lists. This means that if a user subscribes to 90 lists and owns 20 lists, this method returns 90 subscriptions and 10 owned lists. The reverse method returns owned lists first, so with reverse=true, 20 owned lists and 80 subscriptions would be returned. If your goal is to obtain every list a user owns or subscribes to, use GET lists / ownerships and/or GET lists / subscriptions instead.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-list"
				},
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the user for whom to return results. Helpful for disambiguating when a valid user ID is also a valid screen name. Note: : Specifies the ID of the user to get lists from. Helpful for disambiguating when a valid user ID is also a valid screen name.",
						"schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"example": "<Object ID>",
						"description": "The screen name of the user for whom to return results. Helpful for disambiguating when a valid screen name is also a user ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "reverse",
						"in": "query",
						"description": "Set this to true if you would like owned lists to be returned first. See description above for information on how this parameter works.",
						"schema":{"type":"string"}
					}
				],
				"responses" : {
					"200" : {
						"description" : "All lists the authenticating or specified user subscribes to, including their own.",
						"content" : {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type":"object"
									}
								}
							}
						}
					}
				}
			}
		},
		"/lists/members/show": {
			"get" : {
				"summary": "Check if the specified user is a member of the specified list.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-members-show"
				},
				"parameters": [
					{
						"name": "list_id",
						"in": "query",
						"required": true,
						"description": "The numerical id of the list.",
						"schema":{"type":"string"}
					},
					{
						"name": "slug",
						"in": "query",
						"description": "You can identify a list by its slug instead of its numerical id. If you decide to do so, note that you'll also have to specify the list owner using the owner_id or owner_screen_name parameters.",
						"schema":{"type":"string"}
					},
					{
						"name": "user_id",
						"in": "query",
						"required": true,
						"example": "<Object ID>",
						"description": "The ID of the user for whom to return results. Helpful for disambiguating when a valid user ID is also a valid screen name.",
						"schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"description": "The screen name of the user for whom to return results. Helpful for disambiguating when a valid screen name is also a user ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_screen_name",
						"in": "query",
						"description": "The screen name of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_id",
						"in": "query",
						"description": "The user ID of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "include_entities",
						"in": "query",
						"description": "When set to either true, t or 1, each tweet will include a node called 'entities'. This node offers a variety of metadata about the tweet in a discreet structure, including: user_mentions, urls, and hashtags. While entities are opt-in on timelines at present, they will be made a default component of output in the future. See Tweet Entities for more details.",
						"schema":{"type":"string"}
					},
					{
						"name": "skip_status",
						"in": "query",
						"description": "When set to either true, t or 1 statuses will not be included in the returned user objects.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Shows if the specified user is a member of the specified list.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object"
								}
							}
						}
					}
				}
			}
		},
		"/lists/members": {
			"get" : {
				"summary": "Returns the members of the specified list. Private list members will only be shown if the authenticated user owns the specified list.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-members"
				},
				"parameters": [
					{
						"name": "list_id",
						"in": "query",
						"required": true,
						"example": "<Object ID>",
						"description": "The numerical id of the list.",
						"schema":{"type":"string"}
					},
					{
						"name": "slug",
						"in": "query",
						"description": "You can identify a list by its slug instead of its numerical id. If you decide to do so, note that you'll also have to specify the list owner using the owner_id or owner_screen_name parameters.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_screen_name",
						"in": "query",
						"description": "The screen name of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_id",
						"in": "query",
						"description": "The user ID of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "Specifies the number of results to return per page (see cursor below). The default is 20, with a maximum of 5,000.",
						"schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Causes the collection of list members to be broken into 'pages' of consistent sizes (specified by the count parameter). If no cursor is provided, a value of -1 will be assumed, which is the first 'page.'",
						"schema":{"type":"string"}
					},
					{
						"name": "include_entities",
						"in": "query",
						"description": "The entities node will not be included when set to false.",
						"schema":{"type":"string"}
					},
					{
						"name": "skip_status",
						"in": "query",
						"description": "When set to either true, t or 1 statuses will not be included in the returned user objects.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "The members of a specified list.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "users",
									"properties": {
										"users" : {
											"type": "array",
											"items": {
												"type":"object",
												"properties": {
													"$ref" : "#components/schema/user/properties"
												}
											}
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/lists/memberships": {
			"get" : {
				"summary": "Returns the lists the specified user has been added to. If user_id or screen_name are not provided, the memberships for the authenticating user are returned.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-memberships"
				},
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the user for whom to return results. Helpful for disambiguating when a valid user ID is also a valid screen name.",
						"schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"example": "<Object ID>",
						"description": "The screen name of the user for whom to return results. Helpful for disambiguating when a valid screen name is also a user ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "The amount of results to return per page. Defaults to 20. No more than 1000 results will ever be returned in a single page.",
						"schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Breaks the results into pages. Provide a value of -1 to begin paging. Provide values as returned in the response body's next_cursor and previous_cursor attributes to page back and forth in the list. It is recommended to always use cursors when the method supports them. See Cursoring for more information.",
						"schema":{"type":"string"}
					},
					{
						"name": "filter_to_owned_lists",
						"in": "query",
						"description": "When set to true , t or 1 , will return just lists the authenticating user owns, and the user represented by user_id or screen_name is a member of.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "The lists the specified user has been added to or the memberships for the authenticating user.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "lists",
									"properties": {
										"lists" : {
											"type": "array",
											"items": {
												"type":"object"
											}
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/lists/ownerships" : {
			"get" : {
				"summary": "Returns the lists owned by the specified Twitter user. Private lists will only be shown if the authenticated user is also the owner of the lists.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-ownerships"
				},
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the user for whom to return results. Helpful for disambiguating when a valid user ID is also a valid screen name.",
						"schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"example": "<Object ID>",
						"description": "The screen name of the user for whom to return results. Helpful for disambiguating when a valid screen name is also a user ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "The amount of results to return per page. Defaults to 20. No more than 1000 results will ever be returned in a single page.",
						"schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Breaks the results into pages. Provide a value of -1 to begin paging. Provide values as returned in the response body's next_cursor and previous_cursor attributes to page back and forth in the list. It is recommended to always use cursors when the method supports them. See Cursoring for more information.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "The lists owned by the specified Twitter user",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "lists",
									"properties": {
										"lists" : {
											"type": "array",
											"items": {
												"type":"object"
											}
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/lists/show": {
			"get" : {
				"summary": "Returns the specified list. Private lists will only be shown if the authenticated user owns the specified list.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-show"
				},
				"parameters": [
					{
						"name": "list_id",
						"in": "query",
						"required": true,
						"example": "<Object ID>",
						"description": "The identifier of the Collection for which to return results.",
						"schema":{"type":"string"}
					},
					{
						"name": "slug",
						"in": "query",
						"description": "You can identify a list by its slug instead of its numerical id. If you decide to do so, note that you'll also have to specify the list owner using the owner_id or owner_screen_name parameters.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_screen_name",
						"in": "query",
						"description": "The screen name of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_id",
						"in": "query",
						"description": "The user ID of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "The specified list.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object"
								}
							}
						}
					}
				}
			}

		},
		"/lists/statuses": {
			"get" : {
				"summary": "Returns a timeline of tweets authored by members of the specified list. Retweets are included by default. Use the include_rts=false parameter to omit retweets. Embedded Timelines is a great way to embed list timelines on your website.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-statuses"
				},
				"parameters": [
					{
						"name": "list_id",
						"in": "query",
						"required": true,
						"example": "<Object ID>",
						"description": "The numerical id of the list.",
						"schema":{"type":"string"}
					},
					{
						"name": "slug",
						"in": "query",
						"description": "You can identify a list by its slug instead of its numerical id. If you decide to do so, note that you'll also have to specify the list owner using the owner_id or owner_screen_name parameters.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_screen_name",
						"in": "query",
						"description": "The screen name of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_id",
						"in": "query",
						"description": "The user ID of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "since_id",
						"in": "query",
						"description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has occured since the since_id, the since_id will be forced to the oldest ID available.",
						"schema":{"type":"string"}
					},
					{
						"name": "max_id",
						"in": "query",
						"description": "Returns results with an ID less than (that is, older than) or equal to the specified ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "Specifies the number of results to retrieve per 'page.'",
						"schema":{"type":"string"}
					},
					{
						"name": "include_entities",
						"in": "query",
						"description": "Entities are ON by default in API 1.1, each tweet includes a node called 'entities'. This node offers a variety of metadata about the tweet in a discreet structure, including: user_mentions, urls, and hashtags. You can omit entities from the result by using include_entities=false.",
						"schema":{"type":"string"}
					},
					{
						"name": "include_rts",
						"in": "query",
						"description": "When set to either true , t or 1 , the list timeline will contain native retweets (if they exist) in addition to the standard stream of tweets. The output format of retweeted tweets is identical to the representation you see in home_timeline.",
						"schema":{"type":"string"}
					}
				],
				"x-facepager-pagination": {
					"method" : "decrease",
					"param" : "max_id",
					"key" : "id"
				},
            "responses" : {
                "200" : {
                    "description" : "A timeline of tweets authored by members of the specified list.",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "array",
									"items": {
										"type":"object",
										"properties": {
											"$ref" : "#components/schema/tweet/properties"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/lists/subscribers": {
			"get" : {
				"summary": "Returns the subscribers of the specified list. Private list subscribers will only be shown if the authenticated user owns the specified list.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-subscribers"
				},
				"parameters": [
					{
						"name": "list_id",
						"in": "query",
						"required": true,
						"example": "<Object ID>",
						"description": "The numerical id of the list.",
						"schema":{"type":"string"}
					},
					{
						"name": "slug",
						"in": "query",
						"description": "You can identify a list by its slug instead of its numerical id. If you decide to do so, note that you'll also have to specify the list owner using the owner_id or owner_screen_name parameters.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_screen_name",
						"in": "query",
						"description": "The screen name of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_id",
						"in": "query",
						"description": "The user ID of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "Specifies the number of results to return per page (see cursor below). The default is 20, with a maximum of 5,000.",
						"schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Breaks the results into pages. A single page contains 20 lists. Provide a value of -1 to begin paging. Provide values as returned in the response body's next_cursor and previous_cursor attributes to page back and forth in the list. See Using cursors to navigate collections for more information.",
						"schema":{"type":"string"}
					},
					{
						"name": "include_entities",
						"in": "query",
						"description": "When set to either true , t or 1 , each tweet will include a node called 'entities'. This node offers a variety of metadata about the tweet in a discreet structure, including: user_mentions, urls, and hashtags. While entities are opt-in on timelines at present, they will be made a default component of output in the future. See Tweet Entities for more details.",
						"schema":{"type":"string"}
					},
					{
						"name": "skip_status",
						"in": "query",
						"description": "When set to either true , t or 1 statuses will not be included in the returned user objects.",
						"schema":{"type":"string"}
					}
				],
             "responses" : {
                  "200" : {
                      "description" : "The subscribers of the specified list.",
                      "content" : {
                          "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "users",
									"properties": {
										"users" : {
											"type": "array",
											"items": {
												"type":"object",
												"properties": {
													"$ref" : "#components/schema/user/properties"
												}
											}
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/lists/subscribers/show": {
			"get" : {
				"summary": "Check if the specified user is a subscriber of the specified list. Returns the user if they are a subscriber.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-subscribers-show"
				},
				"parameters": [
					{
						"name": "owner_screen_name",
						"in": "query",
						"description": "The screen name of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "owner_id",
						"in": "query",
						"description": "The user ID of the user who owns the list being requested by a slug.",
						"schema":{"type":"string"}
					},
					{
						"name": "list_id",
						"in": "query",
						"required": true,
						"description": "The numerical id of the list.",
						"schema":{"type":"string"}
					},
					{
						"name": "slug",
						"in": "query",
						"description": "You can identify a list by its slug instead of its numerical id. If you decide to do so, note that you'll also have to specify the list owner using the owner_id or owner_screen_name parameters.",
						"schema":{"type":"string"}
					},
					{
						"name": "user_id",
						"in": "query",
						"example": "<Object ID>",
						"description": "The ID of the user for whom to return results. Helpful for disambiguating when a valid user ID is also a valid screen name.",
						"schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"description": "The screen name of the user for whom to return results. Helpful for disambiguating when a valid screen name is also a user ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "include_entities",
						"in": "query",
						"description": "When set to either true , t or 1 , each tweet will include a node called 'entities'. This node offers a variety of metadata about the tweet in a discreet structure, including: user_mentions, urls, and hashtags. While entities are opt-in on timelines at present, they will be made a default component of output in the future. See Tweet Entities for more details.",
						"schema":{"type":"string"}
					},
					{
						"name": "skip_status",
						"in": "query",
						"description": "When set to either true , t or 1 statuses will not be included in the returned user objects.",
						"schema":{"type":"string"}
					}
				],
             "responses" : {
                  "200" : {
                      "description" : "The user, if subscriber of the specified list.",
                      "content" : {
                          "application/json" : {
                              "schema" : {
                                  "type" : "object",
									"properties": {
										"$ref" : "#components/schema/user/properties"
									}
								}
							}
						}
					}
				}
			}
		},
		"/lists/subscriptions": {
			"get" : {
				"summary": "Obtain a collection of the lists the specified user is subscribed to, 20 lists per page by default. Does not include the user's own lists.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/accounts-and-users/create-manage-lists/api-reference/get-lists-subscriptions"
				},
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the user for whom to return results. Helpful for disambiguating when a valid user ID is also a valid screen name.",
						"schema":{"type":"string"}
					},
					{
						"name": "screen_name",
						"in": "query",
						"example": "<Object ID>",
						"description": "The screen name of the user for whom to return results. Helpful for disambiguating when a valid screen name is also a user ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "The amount of results to return per page. Defaults to 20. No more than 1000 results will ever be returned in a single page.",
						"schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Breaks the results into pages. Provide a value of -1 to begin paging. Provide values as returned in the response body's next_cursor and previous_cursor attributes to page back and forth in the list. It is recommended to always use cursors when the method supports them. See Cursoring for more information.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "A collection of the lists the specified user is subscribed to.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "lists",
									"properties": {
										"lists" : {
											"type": "array",
											"items": {
												"type":"object"
											}
									    }
									}
								}
							}
						}
					}
				}
			}
		},
		"/statuses/home_timeline": {
            "get" : {
                "summary" : "Returns a collection of the most recent Tweets and Retweets posted by the authenticating user and the users they follow. The home timeline is central to how most users interact with the Twitter service. Up to 800 Tweets are obtainable on the home timeline. It is more volatile for users that follow many users or follow users who Tweet frequently.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-home_timeline.html"
                },
                "parameters" : [
                    {
                      "name" : "count",
                      "in" : "query",
					  "description" : "Specifies the number of records to retrieve. Must be less than or equal to 200. Defaults to 20. The value of count is best thought of as a limit to the number of tweets to return because suspended or deleted content is removed after the count has been applied.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "since_id",
                      "in" : "query",
                      "description" : "Returns results with an ID greater than (that is, more recent than) the specified ID. There are limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has occured since the since_id, the since_id will be forced to the oldest ID available.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "max_id",
                      "in" : "query",
                      "description" : "Returns results with an ID less than (that is, older than) or equal to the specified ID.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "trim_user",
                      "in" : "query",
                      "description" : "When set to either true , t or 1 , each tweet returned in a timeline will include a user object including only the status authors numerical ID. Omit this parameter to receive the complete user object.",
                      "example":"true",
					  "schema":{"type":"string"}
					  },
					{
                      "name" : "exclude_replies",
                      "in" : "query",
                      "description" : "This parameter will prevent replies from appearing in the returned timeline. Using exclude_replies with the count parameter will mean you will receive up-to count Tweets - this is because the count parameter retrieves that many Tweets before filtering out retweets and replies.",
                      "schema":{"type":"string"}
					},
                    {
                      "name" : "include_entities",
                      "in" : "query",
                      "description" : "The entities node will not be included when set to false.",
                      "example":"false",
					  "schema":{"type":"string"}
					  },
                    {
                      "name" : "tweet_mode",
                      "in" : "query",
                      "description" : "Any REST API endpoints that return Tweets will accept a new tweet_mode request parameter. Valid request values are compat and extended, which give compatibility mode and extended mode, respectively. The default mode (if no parameter is provided) is compatibility mode, to support older clients and display methods. Tweets rendered in compatibility mode via the standard REST API will not contain the extended_tweet field. REST API clients that wish to get the full text can instead opt into extended mode.",
                      "schema":{
						  "type":"string",
						  "enum": ["extended", "compat"]
					  }
					}
				],
				"x-facepager-pagination": {
					"method" : "decrease",
					"param" : "max_id",
					"key" : "id"
				},
			"responses" : {
				"200" : {
					"description" : "A collection of the most recent Tweets and Retweets posted by the authenticating user and the users they follow..",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "array",
									"items": {
										"type":"object",
										"properties": {
											"$ref" : "#components/schema/tweet/properties"
										}
									}
								}
							}
						}
					}
				}
			}
		},
        "/statuses/mentions_timeline": {
            "get" : {
                "summary" : "Returns the 20 most recent mentions (Tweets containing a users's @screen_name) for the authenticating user. The timeline returned is the equivalent of the one seen when you view your mentions on twitter.com. This method can only return up to 800 tweets.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-mentions_timeline"
                },
                "parameters" : [
                    {
                      "name" : "count",
                      "in" : "query",
                      "description" : "Specifies the number of tweets to try and retrieve, up to a maximum of 200. The value of count is best thought of as a limit to the number of tweets to return because suspended or deleted content is removed after the count has been applied. We include retweets in the count, even if include_rts is not supplied. It is recommended you always send include_rts=1 when using this API method.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "since_id",
                      "in" : "query",
                      "description" : "Returns results with an ID greater than (that is, more recent than) the specified ID. There are limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has occured since the since_id, the since_id will be forced to the oldest ID available.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "max_id",
                      "in" : "query",
                      "description" : "Returns results with an ID less than (that is, older than) or equal to the specified ID.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "trim_user",
                      "in" : "query",
                      "description" : "When set to either true , t or 1 , each tweet returned in a timeline will include a user object including only the status authors numerical ID. Omit this parameter to receive the complete user object.",
                      "example":"true",
					  "schema":{"type":"string"}
					  },
                    {
                      "name" : "include_entities",
                      "in" : "query",
                      "description" : "The entities node will not be included when set to false.",
                      "example":"false",
					  "schema":{"type":"string"}
					  },
                    {
                      "name" : "tweet_mode",
                      "in" : "query",
                      "description" : "Any REST API endpoints that return Tweets will accept a new tweet_mode request parameter. Valid request values are compat and extended, which give compatibility mode and extended mode, respectively. The default mode (if no parameter is provided) is compatibility mode, to support older clients and display methods. Tweets rendered in compatibility mode via the standard REST API will not contain the extended_tweet field. REST API clients that wish to get the full text can instead opt into extended mode.",
                      "schema":{
						  "type":"string",
						  "enum": ["extended", "compat"]
					  }
					}
				],
				"x-facepager-pagination": {
					"method" : "decrease",
					"param" : "max_id",
					"key" : "id"
				},
			"responses" : {
				"200" : {
					"description" : "The 20 most recent mentions (Tweets containing a users's @screen_name) for the authenticating user",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "array",
									"items": {
										"type":"object",
										"properties": {
											"$ref" : "#components/schema/tweet/properties"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/statuses/retweets/{id}": {
            "get" : {
                "summary" : "Returns a collection of the 100 most recent retweets of the Tweet specified by the id parameter.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/get-statuses-retweets-id"
                },
                "parameters" : [
                    {
                      "name" : "id",
                      "in" : "path",
                      "required" : true,
					  "description" : "The numerical ID of the desired status.",
                      "schema":{"type":"string"}
					  },
					{
                      "name" : "count",
                      "in" : "query",
					  "description" : "Specifies the number of records to retrieve. Must be less than or equal to 100.",
                      "schema":{"type":"string"}
					  },
					{
					  "name" : "trim_user",
					   "in" : "query",
					   "description" : "When set to either true , t or 1 , each tweet returned in a timeline will include a user object including only the status authors numerical ID. Omit this parameter to receive the complete user object.",
					   "schema":{"type":"string"}
					},
                    {
                      "name" : "tweet_mode",
                      "in" : "query",
                      "description" : "Any REST API endpoints that return Tweets will accept a new tweet_mode request parameter. Valid request values are compat and extended, which give compatibility mode and extended mode, respectively. The default mode (if no parameter is provided) is compatibility mode, to support older clients and display methods. Tweets rendered in compatibility mode via the standard REST API will not contain the extended_tweet field. REST API clients that wish to get the full text can instead opt into extended mode.",
                      "schema":{
						  "type":"string",
						  "enum": ["extended", "compat"]
					  }
					}
				],
			"responses" : {
				"200" : {
					"description" : "A collection of the 100 most recent retweets of the Tweet specified by the id parameter.",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "array",
									"items": {
										"type":"object",
										"properties": {
											"$ref" : "#components/schema/tweet/properties"
										}
									}
								}
							}
						}
					}
				}
			}
		},
	    "/statuses/retweeters/ids": {
			"get" : {
				"summary": "Returns a collection of up to 100 user IDs belonging to users who have retweeted the Tweet specified by the id parameter. This method offers similar data to GET statuses / retweets / :id.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/get-statuses-retweeters-ids"
				},
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"required": true,
						"description": "The numerical ID of the desired status.",
						"schema":{"type":"string"}
					},
					{
						"name": "count",
						"in": "query",
						"description": "Specifies the number of records to retrieve. Must be less than or equal to 100.",
						"schema":{"type":"string"}
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "Causes the list of IDs to be broken into pages of no more than 100 IDs at a time. The number of IDs returned is not guaranteed to be 100 as suspended users are filtered out after connections are queried. If no cursor is provided, a value of -1 will be assumed, which is the first 'page.' The response from the API will include a previous_cursor and next_cursor to allow paging back and forth. See our cursor docs for more information. While this method supports the cursor parameter, the entire result set can be returned in a single cursored collection. Using the count parameter with this method will not provide segmented cursors for use with this parameter.",
						"schema":{"type":"string"}
					},
					{
						"name": "stringify_ids",
						"in": "query",
						"description": "Many programming environments will not consume Tweet ids due to their size. Provide this option to have ids returned as strings instead.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "A collection of up to 100 user IDs belonging to users who have retweeted the Tweet specified by the id parameter.",
                        "content" : {
                            "application/json" : {
                                "schema": {
                                    "type": "object",
                                    "x-facepager-extract" : "ids",
									"x-facepager-objectid" : "ids",
									"properties": {
										"ids": {
											"type": "array"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/statuses/show/{id}": {
            "get" : {
                "summary" : "Returns a single Tweet, specified by the id parameter. The Tweet's author will also be embedded within the Tweet. See GET statuses / lookup for getting Tweets in bulk (up to 100 per call). See also Embedded Timelines, Embedded Tweets, and GET statuses/oembed for tools to render Tweets according to Display Requirements.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/tweets/post-and-engage/api-reference/get-statuses-show-id"
                },
                "parameters" : [
                    {
                      "name" : "id",
                      "in" : "path",
                      "required" : true,
					  "description" : "The numerical ID of the desired Tweet.",
                      "schema":{"type":"string"}
					},
					{
					  "name" : "trim_user",
					   "in" : "query",
					   "description" : "When set to either true , t or 1 , each Tweet returned in a timeline will include a user object including only the status authors numerical ID. Omit this parameter to receive the complete user object.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "include_my_retweet",
					   "in" : "query",
					   "description" : "When set to either true , t or 1 , any Tweets returned that have been retweeted by the authenticating user will include an additional current_user_retweet node, containing the ID of the source status for the retweet.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "include_entities",
					   "in" : "query",
					   "description" : "The entities node will not be included when set to false.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "include_ext_alt_text",
					   "in" : "query",
					   "description" : "If alt text has been added to any attached media entities, this parameter will return an ext_alt_text value in the top-level key for the media entity. If no value has been set, this will be returned as null.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "include_card_uri",
					   "in" : "query",
					   "description" : "When set to either true , t or 1 , the retrieved Tweet will include a card_uri attribute when there is an ads card attached to the Tweet and when that card was attached using the card_uri value.",
					   "schema":{"type":"string"}
					},
                    {
                      "name" : "tweet_mode",
                      "in" : "query",
                      "description" : "Any REST API endpoints that return Tweets will accept a new tweet_mode request parameter. Valid request values are compat and extended, which give compatibility mode and extended mode, respectively. The default mode (if no parameter is provided) is compatibility mode, to support older clients and display methods. Tweets rendered in compatibility mode via the standard REST API will not contain the extended_tweet field. REST API clients that wish to get the full text can instead opt into extended mode.",
                      "schema":{
						  "type":"string",
						  "enum": ["extended", "compat"]
					  }
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "A single Tweet, specified by the id parameter.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
										"$ref" : "#components/schema/tweet/properties"
									}
								}
							}
						}
					}
				}
			}
		},
		"/search/tweets": {
            "get" : {
                "summary" : "Returns a collection of relevant Tweets matching a specified query. Please note that Twitter's search service and, by extension, the Search API is not meant to be an exhaustive source of Tweets. Not all Tweets will be indexed or made available via the search interface. To learn how to use Twitter Search effectively, please see the Standard search operators page for a list of available filter operators. Also, see the Working with Timelines page to learn best practices for navigating results by since_id and max_id.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets"
                },
                "parameters" : [
                    {
                      "name" : "q",
                      "in" : "query",
                      "description" : "A UTF-8, URL-encoded search query of 500 characters maximum, including operators. Queries may additionally be limited by complexity.",
                      "required" : true,
                      "schema":{"type":"string"}
                    },
					{
					  "name" : "geocode",
					   "in" : "query",
					   "description" : "Returns tweets by users located within a given radius of the given latitude/longitude. The location is preferentially taking from the Geotagging API, but will fall back to their Twitter profile. The parameter value is specified by 'latitude,longitude,radius', where radius units must be specified as either 'mi' (miles) or 'km' (kilometers). Note that you cannot use the near operator via the API to geocode arbitrary locations; however you can use this geocode parameter to search near geocodes directly. A maximum of 1,000 distinct 'sub-regions' will be considered when using the radius modifier.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "lang",
					   "in" : "query",
					   "description" : "Restricts tweets to the given language, given by an ISO 639-1 code. Language detection is best-effort.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "locale",
					   "in" : "query",
					   "description" : "Specify the language of the query you are sending (only ja is currently effective). This is intended for language-specific consumers and the default should work in the majority of cases.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "result_type",
					   "in" : "query",
					   "description" : "Optional. Specifies what type of search results you would prefer to receive. The current default is 'mixed.' Valid values include:* mixed : Include both popular and real time results in the response. * recent : return only the most recent results in the response. * popular : return only the most popular results in the response.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "count",
					   "in" : "query",
					   "description" : "The number of tweets to return per page, up to a maximum of 100. Defaults to 15. This was formerly the 'rpp' parameter in the old Search API.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "until",
					   "in" : "query",
					   "description" : "Returns tweets created before the given date. Date should be formatted as YYYY-MM-DD. Keep in mind that the search index has a 7-day limit. In other words, no tweets will be found for a date older than one week.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "since_id",
					   "in" : "query",
					   "description" : "Returns results with an ID greater than (that is, more recent than) the specified ID. There are limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has occured since the since_id, the since_id will be forced to the oldest ID available.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "max_id",
					   "in" : "query",
					   "description" : "Returns results with an ID less than (that is, older than) or equal to the specified ID.",
					   "schema":{"type":"string"}
					},
					{
					  "name" : "include_entities",
					   "in" : "query",
					   "description" : "The entities node will not be included when set to false.",
					   "schema":{"type":"string"}
					},
                    {
                      "name" : "tweet_mode",
                      "in" : "query",
                      "description" : "Any REST API endpoints that return Tweets will accept a new tweet_mode request parameter. Valid request values are compat and extended, which give compatibility mode and extended mode, respectively. The default mode (if no parameter is provided) is compatibility mode, to support older clients and display methods. Tweets rendered in compatibility mode via the standard REST API will not contain the extended_tweet field. REST API clients that wish to get the full text can instead opt into extended mode.",
                      "schema":{
						  "type":"string",
						  "enum": ["extended", "compat"]
					  }
					}
				],
				"x-facepager-pagination": {
					"method" : "decrease",
					"param" : "max_id",
					"key" : "id"
				},
                "responses" : {
                    "200" : {
                        "description" : "A collection of relevant Tweets matching a specified query.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "x-facepager-extract" : "statuses",
                                    "properties" : {
                                        "statuses" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/tweet/properties"
												}
											}
										}
                                    }
                                }
                            }
                        }
                    }
                }
			}
		},
		"/statuses/user_timeline": {
            "get": {
                "summary": "Returns a collection of the most recent Tweets posted by the user indicated by the screen_name or user_id parameters. User timelines belonging to protected users may only be requested when the authenticated user either 'owns' the timeline or is an approved follower of the owner. The timeline returned is the equivalent of the one seen as a user's profile on Twitter. This method can only return up to 3,200 of a user's most recent Tweets. Native retweets of other statuses by the user is included in this total, regardless of whether include_rts is set to false when requesting this resource.",
                "externalDocs": {
                    "url":"https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-user_timeline"
                },
                "parameters" : [
                    {
                      "name" : "user_id",
                      "in" : "query",
                      "description" : "The ID of the user for whom to return results.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "screen_name",
                      "in" : "query",
					  "example": "<Object ID>",
                      "description" : "The screen name of the user for whom to return results.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "since_id",
                      "in" : "query",
                      "description" : "Returns results with an ID greater than (that is, more recent than) the specified ID. There are limits to the number of Tweets that can be accessed through the API. If the limit of Tweets has occured since the since_id, the since_id will be forced to the oldest ID available.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "count",
                      "in" : "query",
                      "description" : "Specifies the number of Tweets to try and retrieve, up to a maximum of 200 per distinct request. The value of count is best thought of as a limit to the number of Tweets to return because suspended or deleted content is removed after the count has been applied. We include retweets in the count, even if include_rts is not supplied. It is recommended you always send include_rts=1 when using this API method.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "max_id",
                      "in" : "query",
                      "description" : "Returns results with an ID less than (that is, older than) or equal to the specified ID.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "trim_user",
                      "in" : "query",
                      "description" : "When set to either true , t or 1 , each Tweet returned in a timeline will include a user object including only the status authors numerical ID. Omit this parameter to receive the complete user object.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "exclude_replies",
                      "in" : "query",
                      "description" : "This parameter will prevent replies from appearing in the returned timeline. Using exclude_replies with the count parameter will mean you will receive up-to count tweets - this is because the count parameter retrieves that many Tweets before filtering out retweets and replies.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "include_rts",
                      "in" : "query",
                      "description" : "When set to false , the timeline will strip any native retweets (though they will still count toward both the maximal length of the timeline and the slice selected by the count parameter). Note: If you're using the trim_user parameter in conjunction with include_rts, the retweets will still contain a full user object.",
                      "schema":{"type":"string"}
					  },
                    {
                      "name" : "tweet_mode",
                      "in" : "query",
                      "description" : "Any REST API endpoints that return Tweets will accept a new tweet_mode request parameter. Valid request values are compat and extended, which give compatibility mode and extended mode, respectively. The default mode (if no parameter is provided) is compatibility mode, to support older clients and display methods. Tweets rendered in compatibility mode via the standard REST API will not contain the extended_tweet field. REST API clients that wish to get the full text can instead opt into extended mode.",
                      "schema":{"type":"string",
						"enum": ["extended", "compat"]
					  }
					}
				],
				"x-facepager-pagination": {
					"method" : "decrease",
					"param" : "max_id",
					"key" : "id"
				},
			"responses" : {
				"200" : {
					"description" : "A collection of the most recent Tweets posted by the user indicated by the screen_name or user_id parameters..",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "array",
									"items": {
										"type":"object",
										"properties": {
											"$ref" : "#components/schema/tweet/properties"	
										}
									}
								}
							}
						}
					}
				}
			}						  
		},
		"/trends/place": {
			"get" : {
				"summary": "Returns the top 50 trending topics for a specific WOEID, if trending information is available for it. The response is an array of trend objects that encode the name of the trending topic, the query parameter that can be used to search for the topic on Twitter Search, and the Twitter Search URL. This information is cached for 5 minutes. Requesting more frequently than that will not return any more data, and will count against rate limit usage. The tweet_volume for the last 24 hours is also returned for many trends if this is available.",
				"externalDocs": {
					"url": "https://developer.twitter.com/en/docs/trends/trends-for-location/api-reference/get-trends-place"
				},
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"required": true,
						"description": "The Yahoo! Where On Earth ID of the location to return trending information for. Global information is available by using 1 as the WOEID.",
						"schema":{"type":"string"}
					},
					{
						"name": "exclude",
						"in": "query",
						"description": "Setting this equal to hashtags will remove all hashtags from the trends list.",
						"schema":{"type":"string"}
					}				
				],
			"responses" : {
				"200" : {
					"description" : "The top 50 trending topics for a specific WOEID, if trending information is available for it.",
					"content" : {
						"application/json": {
                                "schema": {
                                    "type": "array",
									"items": {
										"type":"object",
										"properties": {
											"trends" : {
												"type": "array",
												"items": {
													"type":"object"													
												}
											}
									    }					
									}
								}
							}
						}
					}
				}
			}				
		},
		"/trends/available": {
			"get" : {
				"summary": "Returns the locations that Twitter has trending topic information for. The response is an array of 'locations' that encode the location's WOEID and some other human-readable information such as a canonical name and country the location belongs in. A WOEID is a Yahoo! Where On Earth ID.",
				"externalDocs": {
[...]
