{
    "openapi": "3.0.0",
    "x-facepager-module":"YouTube",

	"x-facepager-extract" : "items",
	"x-facepager-objectid" : "id",
	"x-facepager-pagination": {
		"method" : "key",
		"param" : "pageToken",
		"key" : "nextPageToken",
		"stop" : null
	},

    "info": {
        "title": "YouTube Data API",
        "description": "The YouTube Data API lets you incorporate functions normally executed on the YouTube website into your own website or application.",
        "termsOfService": "https://developers.google.com/youtube/terms/api-services-terms-of-service",
        "version": "3"
    },
    "externalDocs": {
        "url":"https://developers.google.com/youtube/v3/docs/"
    },
    "servers": [
        {
            "url":"https://www.googleapis.com/youtube/v3"
        }
    ],
    "paths":{
		"/activities" : {
            "get" : {
                "summary" : "An activity resource contains information about an action that a particular channel, or user, has taken on YouTube. The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/activities"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set part=snippet, the API response will also contain all of those nested properties.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["contentDetails", "id", "snippet"]
								}
							},
					   "example": "snippet"
					},
					{
						"name": "channelId",
						"in": "query",
						"description": "The channelId parameter specifies a unique YouTube channel ID. The API will then return a list of that channel's activities.",
						"example": "<Object ID>",
						"schema":{"type":"string"}
					},
					{
						"name": "mine",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Set this parameter's value to true to retrieve a feed of the authenticated user's activities.",
						"schema":{
							"type":"boolean", 
							"enum":["true","false"]
							}
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Acceptable values are 0 to 50, inclusive. The default value is 5.",
						"schema":{"type":"unsigned integer"}
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
						"schema":{"type":"string"}
					},
					{
						"name": "publishedAfter",
						"in": "query",
						"description": "The publishedAfter parameter specifies the earliest date and time that an activity could have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be included in the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
						"schema":{"type":"datetime"}
					},
					{
						"name": "publishedBefore",
						"in": "query",
						"description": "The publishedBefore parameter specifies the date and time before which an activity must have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be excluded from the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
						"schema":{"type":"datetime"}
					},
					{
						"name": "regionCode",
						"in": "query",
						"description": "The regionCode parameter instructs the API to return results for the specified country. The parameter value is an ISO 3166-1 alpha-2 country code. YouTube uses this value when the authorized user's previous activity on YouTube does not provide enough information to generate the activity feed.",
						"schema":{"type":"string"}
					}					
				],
               "responses" : {
                    "200" : {
                        "description" : "Returns a list of channel activity events that match the request criteria. For example, you can retrieve events associated with a particular channel or with the user's own channel.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#activityListResponse."},
										"etag": {"description":"The Etag of this resource."},
										"nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/activities/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/captions": {
            "get" : {
                "summary" : "A caption resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/captions"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies the caption resource parts that the API response will include.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["id", "snippet"]
								}
							},	
					   "example": "snippet"
					},
					{
						"name": "videoId",
						"in": "query",
						"required": true,
						"description": "The videoId parameter specifies the YouTube video ID of the video for which the API should return caption tracks.",
						"schema":{"type":"string"}
					},
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of IDs that identify the caption resources that should be retrieved. Each ID must identify a caption track associated with the specified video.",
						"schema":{"type":"string"}
					},
					{
						"name": "onBehalfOfContentOwner",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Returns a list of caption tracks that are associated with a specified video. Note that the API response does not contain the actual captions and that the captions.download method provides the ability to retrieve a caption track.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#captionListResponse."},
										"etag": {"description": "The Etag of this resource."},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"kind":{"description":"Identifies the API resource's type. The value will be youtube#caption."},
													"etag": {"description":"The Etag of this resource."},
													"id": {"description": "The ID that YouTube uses to uniquely identify the caption track."},
													"snippet": {
														"description": "The snippet object contains basic details about the caption.",
														"type": "object", 
														"properties": {
															"videoId": {"description": "The ID that YouTube uses to uniquely identify the video associated with the caption track."},
															"lastUpdated": {"description": "The date and time when the caption track was last updated. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format."},
															"trackKind": {"description": "The caption track's type. Valid values for this property are: ASR - A caption track generated using automatic speech recognition, forced - A caption track that plays when no other track is selected in the player. For example, a video that shows aliens speaking in an alien language might have a forced caption track to only show subtitles for the alien language, standard - A regular caption track. This is the default value."},
															"language": {"description": "The language of the caption track. The property value is a BCP-47 language tag."},
															"name": {"description": "The name of the caption track. The name is intended to be visible to the user as an option during playback."},
															"audioTrackType": {"description": "The type of audio track associated with the caption track. Valid values for this property are: commentary - The caption track corresponds to an alternate audio track that includes commentary, such as directory commentary, descriptive - The caption track corresponds to an alternate audio track that includes additional descriptive audio, primary - The caption track corresponds to the primary audio track for the video, which is the audio track normally associated with the video, unknown - This is the default value."},
															"isCC": {"description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false."},
															"isLarge": {"description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false."},
															"isEasyReader": {"description": "Indicates whether caption track is formatted for 'easy reader,' meaning it is at a third-grade level for language learners. The default value is false."},
															"isDraft": {"description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false."},
															"isAutoSynced": {"description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions."},
															"status": {"description": "The caption track's status. Valid values for this property are: failed, serving, syncing"},
															"failureReason": {"description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed. Valid values for this property are: processingFailed - YouTube failed to process the uploaded caption track, unknownFormat - The caption track's format was not recognized, unsupportedFormat - The caption track's format is not supported."}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}		
		},
		"/channels":{
            "get" : {
                "summary" : "A channel resource contains information about a YouTube channel.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/channels"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set part=contentDetails, the API response will also contain all of those nested properties.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["auditDetails", "brandingSettings", "contentDetails", "contentOwnerDetails", "id", "invideoPromotion", "localizations", "snippet", "statistics", "status", "topicDetails"]
								}
							},	
					   "example": "snippet"						
					},
					{
						"name": "categoryID",
						"in": "query",
						"description": "The categoryId parameter specifies a YouTube guide category, thereby requesting YouTube channels associated with that category.",
						"schema":{"type":"string"}
					},
					{
						"name": "forUsername",
						"in": "query",
						"description": "The forUsername parameter specifies a YouTube username, thereby requesting the channel associated with that username.",
						"schema":{"type":"string"}
					},
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of the YouTube channel ID(s) for the resource(s) that are being retrieved. In a channel resource, the id property specifies the channel's YouTube channel ID.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},
					{
						"name": "managedByMe",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. Set this parameter's value to true to instruct the API to only return channels managed by the content owner that the onBehalfOfContentOwner parameter specifies. The user must be authenticated as a CMS account linked to the specified content owner and onBehalfOfContentOwner must be provided.",
						"schema":{
							"type":"boolean", 
							"enum":["true","false"]
							}
					},
					{
						"name": "mine",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Set this parameter's value to true to instruct the API to only return channels owned by the authenticated user.",
						"schema":{
							"type":"boolean",
							"enum":["true","false"]
							}
					},
					{
						"name": "hl",
						"in": "query",
						"description": "The hl parameter instructs the API to retrieve localized resource metadata for a specific application language that the YouTube website supports. The parameter value must be a language code included in the list returned by the i18nLanguages.list method. If localized resource details are available in that language, the resource's snippet.localized object will contain the localized values. However, if localized details are not available, the snippet.localized object will contain resource details in the resource's default language.",
						"schema":{"type":"string"}
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Acceptable values are 0 to 50, inclusive. The default value is 5.",
						"schema":{"type":"unsigned integer"}
					},
					{
						"name": "onBehalfOfContentOwner",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
						"schema":{"type":"string"}
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
						"schema":{"type":"string"}
					}				
				],
               "responses" : {
                    "200" : {
                        "description" : "Returns a collection of zero or more channel resources that match the request criteria.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#channelListResponse."},
										"etag": {"description":"The Etag of this resource."},
										"nextPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/channel/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}				
		},
		"/channelSections": {
            "get" : {
                "summary" : "A channelSection resource contains information about a set of videos that a channel has chosen to feature. For example, a section could feature a channel's latest uploads, most popular uploads, or videos from one or more playlists. Note that a channel's sections are only visible if the channel displays content in a browse view (rather than a feed view). To enable a channel to display content in a browse view, set the brandingSettings.channel.showBrowseView property to true for the specified channel. A channel can create a maximum of 10 shelves without setting targeting data and can create a maximum of 100 shelves with targeting data.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/channelSections"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the section. If you set part=snippet, the API response will also contain all of those nested properties.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["contentDetails", "id", "localizations", "snippet", "targeting"]
								}
							},
					   "example": "snippet"
					},
					{
						"name": "channelId",
						"in": "query",
						"description": "The channelId parameter specifies a YouTube channel ID. If a request specifies a value for this parameter, the API will only return the specified channel's sections.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of IDs that uniquely identify the channelSection resources that are being retrieved. In a channelSection resource, the id property specifies the section's ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "mine",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Set this parameter's value to true to retrieve a feed of the channel sections associated with the authenticated user's YouTube channel.",
						"schema":{
							"type":"boolean",
							"enum":["true","false"]
							}
					},
					{
						"name": "hl",
						"in": "query",
						"description": "The hl parameter instructs the API to retrieve localized resource metadata for a specific application language that the YouTube website supports. The parameter value must be a language code included in the list returned by the i18nLanguages.list method. If localized resource details are available in that language, the resource's snippet.localized object will contain the localized values. However, if localized details are not available, the snippet.localized object will contain resource details in the resource's default language.",
						"schema":{"type":"string"}
					},
					{
						"name": "onBehalfOfContentOwner",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Returns a list of channelSection resources that match the API request criteria.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#channelSectionListResponse."},
										"etag": {"description":"The Etag of this resource."},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/channelSections/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}				
		},
		"/comments": {
            "get" : {
                "summary" : "A comment resource contains information about a single YouTube comment. A comment resource can represent a comment about either a video or a channel. In addition, the comment could be a top-level comment or a reply to a top-level comment.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/comments"
                },  
                "parameters" : [ 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more comment resource properties that the API response will include. .",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["id", "snippet"]
								}
							},
					   "example": "snippet"
					},
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of comment IDs for the resources that are being retrieved. In a comment resource, the id property specifies the comment's ID.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},                
					{
						"name": "parentId",
						"in": "query",
						"description": "The parentId parameter specifies the ID of the comment for which replies should be retrieved. Note: YouTube currently supports replies only for top-level comments. However, replies to replies may be supported in the future.",
						"schema":{"type":"string"}
					},      
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Note: This parameter is not supported for use in conjunction with the id parameter. Acceptable values are 1 to 100, inclusive. The default value is 20.",
						"schema":{"type":"unsigned integer"}
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page of the result that can be retrieved. Note: This parameter is not supported for use in conjunction with the id parameter.",
						"schema":{"type":"string"}
					},
					{
						"name": "textFormat",
						"in": "query",
						"description": "This parameter indicates whether the API should return comments formatted as HTML or as plain text. The default value is html. Acceptable values are: html - Returns the comments in HTML format. This is the default value. plainText - Returns the comments in plain text format.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["html", "plainText"]
							}	
						}
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a list of comments that match the API request parameters.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#commentListResponse."},
										"etag":{"description":"The Etag of this resource."},
										"nextPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/comments/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}			
		},
		"/commentThreads": {
            "get" : {
                "summary" : "A commentThread resource contains information about a YouTube comment thread, which comprises a top-level comment and replies, if any exist, to that comment. A commentThread resource can represent comments about either a video or a channel. Both the top-level comment and the replies are actually comment resources nested inside the commentThread resource. The commentThread resource does not necessarily contain all replies to a comment, and you need to use the comments.list method if you want to retrieve all replies for a particular comment. Also note that some comments do not have replies.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/commentThreads"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include. The following list contains the part names that you can include in the parameter value and the quota cost for each part: id: 0, replies: 2,snippet: 2",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["id", "replies", "snippet"]
								}
							},
					   "example": "snippet"
					},
					{
						"name": "allThreadsRelatedToChannelId",
						"in": "query",
						"description": "The allThreadsRelatedToChannelId parameter instructs the API to return all comment threads associated with the specified channel. The response can include comments about the channel or about the channel's videos.",
						"schema":{"type":"string"}
					},		
					{
						"name": "channelId",
						"in": "query",
						"description": "The channelId parameter instructs the API to return comment threads containing comments about the specified channel. (The response will not include comments left on videos that the channel uploaded.)",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},		
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of comment thread IDs for the resources that should be retrieved.",
						"schema":{"type":"string"}
					},		
					{
						"name": "videoId",
						"in": "query",
						"description": "The videoId parameter instructs the API to return comment threads associated with the specified video ID.",
						"schema":{"type":"string"}
					},		
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Note: This parameter is not supported for use in conjunction with the id parameter. Acceptable values are 1 to 100, inclusive. The default value is 20.",
						"schema":{"type":"unsigned integer"}
					},		
					{
						"name": "moderationStatus",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Set this parameter to limit the returned comment threads to a particular moderation state. Note: This parameter is not supported for use in conjunction with the id parameter. The default value is published. Acceptable values are: heldForReview - Retrieve comment threads that are awaiting review by a moderator. A comment thread can be included in the response if the top-level comment or at least one of the replies to that comment are awaiting review. likelySpam - Retrieve comment threads classified as likely to be spam. A comment thread can be included in the response if the top-level comment or at least one of the replies to that comment is considered likely to be spam. published - Retrieve threads of published comments. This is the default value. A comment thread can be included in the response if its top-level comment has been published.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["heldForReview", "likelySpam", "published"]
							}
						}	
					},		
					{
						"name": "order",
						"in": "query",
						"description": "The order parameter specifies the order in which the API response should list comment threads. Valid values are: time - Comment threads are ordered by time. This is the default behavior. relevance - Comment threads are ordered by relevance. Note: This parameter is not supported for use in conjunction with the id parameter. ",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["time", "relevance"]
							}
						}
					},		
					{
						"name": "pageToken",
						"in": "query",
						"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page of the result that can be retrieved. Note: This parameter is not supported for use in conjunction with the id parameter.",
						"schema":{"type":"string"}
					},		
					{
						"name": "searchTerms",
						"in": "query",
						"description": "The searchTerms parameter instructs the API to limit the API response to only contain comments that contain the specified search terms. Note: This parameter is not supported for use in conjunction with the id parameter.",
						"schema":{"type":"string"}
					},		
					{
						"name": "textFormat",
						"in": "query",
						"description": "Set this parameter's value to html or plainText to instruct the API to return the comments left by users in html formatted or in plain text. The default value is html. Acceptable values are: html - Returns the comments in HTML format. This is the default value. plainText - Returns the comments in plain text format.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["html", "plainText"]
							}
						}
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a list of comment threads that match the API request parameters.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#commentThreadListResponse."},
										"etag":{"description":"The Etag of this resource."},
										"nextPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/commentThreads/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}			
		},
		"/guideCategories": {
            "get" : {
                "summary" : "A guideCategory resource identifies a category that YouTube algorithmically assigns based on a channel's content or other indicators, such as the channel's popularity. The list is similar to video categories, with the difference being that a video's uploader can assign a video category but only YouTube can assign a channel category.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/guideCategories"
				},  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies the guideCategory resource properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
					    "schema":{"type":"string"},
						"example": "snippet"
					},
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of the YouTube channel category ID(s) for the resource(s) that are being retrieved. In a guideCategory resource, the id property specifies the YouTube channel category ID.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},
					{
						"name": "regionCode",
						"in": "query",
						"description": "The regionCode parameter instructs the API to return the list of guide categories available in the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.",
						"schema":{"type":"string"}
					},
					{
						"name": "hl",
						"in": "query",
						"description": "The hl parameter specifies the language that will be used for text values in the API response. The default value is en-US.",
						"schema":{"type":"string"}
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a list of categories that can be associated with YouTube channels.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#guideCategoryListResponse."},
										"etag":{"description":"The Etag of this resource."},
										"nextPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"prevPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/guideCategories/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}		
		},
		"/i18nLanguages": {
            "get" : {
                "summary" : "An i18nLanguage resource identifies an application language that the YouTube website supports. The application language can also be referred to as a UI language. For the YouTube website, an application language could be automatically selected based on Google Account settings, browser language, or IP location. A user could also manually select the desired UI language from the YouTube site footer. Each i18nLanguage resource identifies a language code and a name. The language code can be used as the value of the hl parameter when calling API methods like videoCategories.list and guideCategories.list.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/i18nLanguages"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 1 unit.",
					    "schema":{"type":"string"},
						"example": "snippet"
					},
					{
						"name": "hl",
						"in": "query",
						"description": "The hl parameter specifies the language that should be used for text values in the API response. The default value is en_US.",
						"schema":{"type":"string"},
						"example": "en_US"
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a list of application languages that the YouTube website supports.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#i18nLanguageListResponse."},
										"etag":{"description":"The Etag of this resource."},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/i18nLanguage/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/i18nRegions": {
            "get" : {
                "summary" : "An i18nRegion resource identifies a geographic area that a YouTube user can select as the preferred content region. The content region can also be referred to as a content locale. For the YouTube website, a content region could be automatically selected based on heuristics like the YouTube domain or the user's IP location. A user could also manually select the desired content region from the YouTube site footer. Each i18nRegion resource identifies a region code and a name. The region code can be used as the value of the regionCode parameter when calling API methods like search.list, videos.list, activities.list, and videoCategories.list.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/i18nRegions"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 1 unit.",
					    "schema":{"type":"string"},
						"example": "snippet"
					},
					{
						"name": "hl",
						"in": "query",
						"description": "The hl parameter specifies the language that should be used for text values in the API response. The default value is en_US.",
						"schema":{"type":"string"},
						"example": "en_US"
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a list of content regions that the YouTube website supports.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#i18nRegionListResponse."},
										"etag":{"description":"The Etag of this resource."},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/i18nRegion/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/playlistItems": {
            "get" : {
                "summary" : "A playlistItem resource identifies another resource, such as a video, that is included in a playlist. In addition, the playlistItem resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: uploaded videos, favorite videos, positively rated (liked) videos, watch history, watch later. To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods. For example, if a user marks a video as a favorite video, you would insert that video into the favorite videos playlist for that user's channel.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/playlistItems"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set part=snippet, the API response will contain all of those properties. The following list contains the part names that you can include in the parameter value and the quota cost for each part: contentDetails: 2, id: 0, snippet: 2, status: 2.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["contentDetails", "id", "snippet", "status"]
								}
							},
					   "example": "snippet"
					},
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of one or more unique playlist item IDs.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},		
					{
						"name": "playlistId",
						"in": "query",
						"description": "The playlistId parameter specifies the unique ID of the playlist for which you want to retrieve playlist items. Note that even though this is an optional parameter, every request to retrieve playlist items must specify a value for either the id parameter or the playlistId parameter.",
						"schema":{"type":"string"}
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Acceptable values are 0 to 50, inclusive. The default value is 5.",
						"schema":{"type":"unsigned integer"}
					},
					{
						"name": "onBehalfOfContentOwner",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
						"schema":{"type":"string"}
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
						"schema":{"type":"string"}
					},
					{
						"name": "videoId",
						"in": "query",
						"description": "The videoId parameter specifies that the request should return only the playlist items that contain the specified video.",
						"schema":{"type":"string"}
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a collection of playlist items that match the API request parameters. You can retrieve all of the playlist items in a specified playlist or retrieve one or more playlist items by their unique IDs.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#playlistItemListResponse."},
										"etag":{"description":"The Etag of this resource."},
										"nextPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"prevPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/playlistItem/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/playlists": {
            "get" : {
                "summary" : "A playlist resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: uploaded videos, positively rated (liked) videos. To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/playlists"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set part=snippet, the API response will contain all of those properties. The following list contains the part names that you can include in the parameter value and the quota cost for each part: contentDetails: 2, id: 0, localizations: 2, player: 0, snippet: 2, status: 2",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["contentDetails", "id", "localizations", "player", "snippet", "status"]
								}
							},
					   "example": "snippet"
					},
					{
						"name": "channelId",
						"in": "query",
						"description": "This value indicates that the API should only return the specified channel's playlists.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of the YouTube playlist ID(s) for the resource(s) that are being retrieved. In a playlist resource, the id property specifies the playlist's YouTube playlist ID.",
						"schema":{"type":"string"}
					},
					{
						"name": "mine",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Set this parameter's value to true to instruct the API to only return playlists owned by the authenticated user.",
						"schema":{
							"type":"boolean",
							"enum":["true","false"]
							}
					},
					{
						"name": "hl",
						"in": "query",
						"description": "The hl parameter instructs the API to retrieve localized resource metadata for a specific application language that the YouTube website supports. The parameter value must be a language code included in the list returned by the i18nLanguages.list method. If localized resource details are available in that language, the resource's snippet.localized object will contain the localized values. However, if localized details are not available, the snippet.localized object will contain resource details in the resource's default language.",
						"schema":{"type":"string"}
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Acceptable values are 0 to 50, inclusive. The default value is 5.",
						"schema":{"type":"unsigned integer"}
					},
					{
						"name": "onBehalfOfContentOwner",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
						"schema":{"type":"string"}
					},
					{
						"name": "onBehalfOfContentOwnerChannel",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
						"schema":{"type":"string"}
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
						"schema":{"type":"string"}
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a collection of playlists that match the API request parameters. For example, you can retrieve all playlists that the authenticated user owns, or you can retrieve one or more playlists by their unique IDs.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#playlistListResponse."},
										"etag":{"description":"The Etag of this resource."},
										"nextPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/playlist/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}		
		},
		"/search": {
            "get" : {
                "summary" : "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/search"
                },  
                "parameters" : [  
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
					    "schema":{"type":"string"},
						"example": "snippet"
					},	
					{
						"name": "forContentOwner",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request, and it is intended exclusively for YouTube content partners. The forContentOwner parameter restricts the search to only retrieve videos owned by the content owner identified by the onBehalfOfContentOwner parameter. If forContentOwner is set to true, the request must also meet these requirements: The onBehalfOfContentOwner parameter is required, The user authorizing the request must be using an account linked to the specified content owner, The type parameter value must be set to video, None of the following other parameters can be set: videoDefinition, videoDimension, videoDuration, videoLicense, videoEmbeddable, videoSyndicated, videoType.",
						"schema":{
							"type":"boolean", 
							"enum":["true","false"]
							}
					},	
					{
						"name": "forDeveloper",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. The forDeveloper parameter restricts the search to only retrieve videos uploaded via the developer's application or website. The API server uses the request's authorization credentials to identify the developer. The forDeveloper parameter can be used in conjunction with optional search parameters like the q parameter. For this feature, each uploaded video is automatically tagged with the project number that is associated with the developer's application in the Google Developers Console. When a search request subsequently sets the forDeveloper parameter to true, the API server uses the request's authorization credentials to identify the developer. Therefore, a developer can restrict results to videos uploaded through the developer's own app or website but not to videos uploaded through other apps or sites.",
						"schema":{
							"type":"boolean", 
							"enum":["true","false"]
						}
					},	
					{
						"name": "forMine",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. The forMine parameter restricts the search to only retrieve videos owned by the authenticated user. If you set this parameter to true, then the type parameter's value must also be set to video. In addition, none of the following other parameters can be set in the same request: videoDefinition, videoDimension, videoDuration, videoLicense, videoEmbeddable, videoSyndicated, videoType.",
						"schema":{
							"type":"boolean", 
							"enum":["true","false"]
						}
					},	
					{
						"name": "relatedToVideoId",
						"in": "query",
						"description": "The relatedToVideoId parameter retrieves a list of videos that are related to the video that the parameter value identifies. The parameter value must be set to a YouTube video ID and, if you are using this parameter, the type parameter must be set to video. Note that if the relatedToVideoId parameter is set, the only other supported parameters are part, maxResults, pageToken, regionCode, relevanceLanguage, safeSearch, type (which must be set to video), and fields.",
						"schema":{"type":"string"}
					},	
					{
						"name": "channelId",
						"in": "query",
						"description": "The channelId parameter indicates that the API response should only contain resources created by the channel. Note: Search results are constrained to a maximum of 500 videos if your request specifies a value for the channelId parameter and sets the type parameter value to video, but it does not also set one of the forContentOwner, forDeveloper, or forMine filters.",
						"schema":{"type":"string"}
					},	
					{
						"name": "channelType",
						"in": "query",
						"description": "The channelType parameter lets you restrict a search to a particular type of channel. Acceptable values are: any - Return all channels, show - Only retrieve shows.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["any", "show"]
							}
						}
					},	
					{
						"name": "eventType",
						"in": "query",
						"description": "The eventType parameter restricts a search to broadcast events. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are:completed - Only include completed broadcasts, live - Only include active broadcasts, upcoming - Only include upcoming broadcasts.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["completed", "live", "upcoming"]
							}
						}
					},	
					{
						"name": "location",
						"in": "query",
						"description": "The location parameter, in conjunction with the locationRadius parameter, defines a circular geographic area and also restricts a search to videos that specify, in their metadata, a geographic location that falls within that area. The parameter value is a string that specifies latitude/longitude coordinates e.g. (37.42307,-122.08427). The location parameter value identifies the point at the center of the area. The locationRadius parameter specifies the maximum distance that the location associated with a video can be from that point for the video to still be included in the search results. The API returns an error if your request specifies a value for the location parameter but does not also specify a value for the locationRadius parameter.",
						"schema":{"type":"string"}
					},	
					{
						"name": "locationRadius",
						"in": "query",
						"description": "The locationRadius parameter, in conjunction with the location parameter, defines a circular geographic area. The parameter value must be a floating point number followed by a measurement unit. Valid measurement units are m, km, ft, and mi. For example, valid parameter values include 1500m, 5km, 10000ft, and 0.75mi. The API does not support locationRadius parameter values larger than 1000 kilometers. Note: See the definition of the location parameter for more information.",
						"schema":{"type":"string"}
					},	
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Acceptable values are 0 to 50, inclusive. The default value is 5.",
						"schema":{"type":"unsigned integer"}
					},	
					{
						"name": "onBehalfOfContentOwner",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
						"schema":{"type":"string"}
					},	
					{
						"name": "order",
						"in": "query",
						"description": "The order parameter specifies the method that will be used to order resources in the API response. The default value is relevance. Acceptable values are: date - Resources are sorted in reverse chronological order based on the date they were created, rating - Resources are sorted from highest to lowest rating, relevance - Resources are sorted based on their relevance to the search query. This is the default value for this parameter, title - Resources are sorted alphabetically by title, videoCount - Channels are sorted in descending order of their number of uploaded videos, viewCount - Resources are sorted from highest to lowest number of views. For live broadcasts, videos are sorted by number of concurrent viewers while the broadcasts are ongoing.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["date", "rating", "relevance", "title", "videoCount", "viewCount"]
							}
						}
					},	
					{
						"name": "pageToken",
						"in": "query",
						"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
						"schema":{"type":"string"}
					},	
					{
						"name": "publishedAfter",
						"in": "query",
						"description": "The publishedAfter parameter indicates that the API response should only contain resources created at or after the specified time. The value is an RFC 3339 formatted date-time value (1970-01-01T00:00:00Z).",
						"schema":{"type":"string"}
					},	
					{
						"name": "publishedBefore",
						"in": "query",
						"description": "The publishedBefore parameter indicates that the API response should only contain resources created before or at the specified time. The value is an RFC 3339 formatted date-time value (1970-01-01T00:00:00Z).",
						"schema":{"type":"string"}
					},	
					{
						"name": "q",
						"in": "query",
						"description": "The q parameter specifies the query term to search for. Your request can also use the Boolean NOT (-) and OR (|) operators to exclude videos or to find videos that are associated with one of several search terms. For example, to search for videos matching either 'boating' or 'sailing', set the q parameter value to boating|sailing. Similarly, to search for videos matching either 'boating' or 'sailing' but not 'fishing', set the q parameter value to boating|sailing -fishing. Note that the pipe character must be URL-escaped when it is sent in your API request. The URL-escaped value for the pipe character is %7C.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},	
					{
						"name": "regionCode",
						"in": "query",
						"description": "The regionCode parameter instructs the API to return search results for videos that can be viewed in the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.",
						"schema":{"type":"string"}
					},	
					{
						"name": "relevanceLanguage",
						"in": "query",
						"description": "The relevanceLanguage parameter instructs the API to return search results that are most relevant to the specified language. The parameter value is typically an ISO 639-1 two-letter language code. However, you should use the values zh-Hans for simplified Chinese and zh-Hant for traditional Chinese. Please note that results in other languages will still be returned if they are highly relevant to the search query term.",
						"schema":{"type":"string"}
					},	
					{
						"name": "safeSearch",
						"in": "query",
						"description": "The safeSearch parameter indicates whether the search results should include restricted content as well as standard content. Acceptable values are: moderate - YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value, none - YouTube will not filter the search result set, strict - YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["moderate", "none", "strict"]
							}
						}
					},	
					{
						"name": "topicId",
						"in": "query",
						"description": "The topicId parameter indicates that the API response should only contain resources associated with the specified topic. The value identifies a Freebase topic ID. Important: Due to the deprecation of Freebase and the Freebase API, the topicId parameter started working differently as of February 27, 2017. At that time, YouTube started supporting a small set of curated topic IDs, and you can only use that smaller set of IDs as values for this parameter. See topic IDs supported as of February 15, 2017",
						"schema":{"type":"string"}
					},	
					{
						"name": "type",
						"in": "query",
						"description": "The type parameter restricts a search query to only retrieve a particular type of resource. The value is a comma-separated list of resource types. The default value is video,channel,playlist. Acceptable values are: channel, playlist, video.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["channel", "playlist", "video"]
							}
						}
					},	
					{
						"name": "videoCaption",
						"in": "query",
						"description": "The videoCaption parameter indicates whether the API should filter video search results based on whether they have captions. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are: any - Do not filter results based on caption availability, closedCaption - Only include videos that have captions, none - Only include videos that do not have captions.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["any", "closedCaption", "none"]
							}
						}
					},	
					{
						"name": "videoCategoryId",
						"in": "query",
						"description": "The videoCategoryId parameter filters video search results based on their category. If you specify a value for this parameter, you must also set the type parameter's value to video.",
						"schema":{"type":"string"}
					},	
					{
						"name": "videoDefinition",
						"in": "query",
						"description": "The videoDefinition parameter lets you restrict a search to only include either high definition (HD) or standard definition (SD) videos. HD videos are available for playback in at least 720p, though higher resolutions, like 1080p, might also be available. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are: any - Return all videos, regardless of their resolution, high - Only retrieve HD videos, standard - Only retrieve videos in standard definition.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["any", "high", "standard"]
							}
						}
					},	
					{
						"name": "videoDimension",
						"in": "query",
						"description": "The videoDimension parameter lets you restrict a search to only retrieve 2D or 3D videos. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are: 2d - Restrict search results to exclude 3D videos, 3d - Restrict search results to only include 3D videos., any - Include both 3D and non-3D videos in returned results. This is the default value.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["2d", "3d", "any"]
							}
						}
					},	
					{
						"name": "videoDuration",
						"in": "query",
						"description": "The videoDuration parameter filters video search results based on their duration. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are: any - Do not filter video search results based on their duration. This is the default value, long - Only include videos longer than 20 minutes, medium - Only include videos that are between four and 20 minutes long (inclusive), short - Only include videos that are less than four minutes long.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["any", "long", "medium", "short"]
							}
						}
					},	
					{
						"name": "videoEmbeddable",
						"in": "query",
						"description": "The videoEmbeddable parameter lets you to restrict a search to only videos that can be embedded into a webpage. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are: any - Return all videos, embeddable or not, true - Only retrieve embeddable videos.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["any", "true"]
							}
						}
					},	
					{
						"name": "videoLicense",
						"in": "query",
						"description": "The videoLicense parameter filters search results to only include videos with a particular license. YouTube lets video uploaders choose to attach either the Creative Commons license or the standard YouTube license to each of their videos. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are: any - Return all videos, regardless of which license they have, that match the query parameters, creativeCommon - Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more, youtube - Only return videos that have the standard YouTube license.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["any", "creativeCommon", "youtube"]
							}
						}
					},	
					{
						"name": "videoSyndicated",
						"in": "query",
						"description": "The videoSyndicated parameter lets you to restrict a search to only videos that can be played outside youtube.com. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are: any - Return all videos, syndicated or not, true - Only retrieve syndicated videos.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["any", "true"]
							}
						}
					},	
					{
						"name": "videoType",
						"in": "query",
						"description": "The videoType parameter lets you restrict a search to a particular type of videos. If you specify a value for this parameter, you must also set the type parameter's value to video. Acceptable values are: any - Return all videos, episode - Only retrieve episodes of shows, movie - Only retrieve movies.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["any", "episode", "movie"]
							}
						}
					}	
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a collection of search results that match the query parameters specified in the API request. By default, a search result set identifies matching video, channel, and playlist resources, but you can also configure queries to only retrieve a specific type of resource.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "x-facepager-extract" : "items",
									"x-facepager-objectid" : "id.videoId",
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#searchListResponse."},
										"etag":{"description":"The Etag of this resource."},
										"nextPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."},
										"regionCode": {"description": "The region code that was used for the search query. The property value is a two-letter ISO country code that identifies the region. The i18nRegions.list method returns a list of supported regions. The default value is US. If a non-supported region is specified, YouTube might still select another region, rather than the default value, to handle the query."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/search/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}	
		},
		"/subscriptions": {
            "get" : {
                "summary" : "A subscription resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/subscriptions"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set part=snippet, the API response will also contain all of those nested properties. The following list contains the part names that you can include in the parameter value and the quota cost for each part: contentDetails: 2, id: 0, snippet: 2, subscriberSnippet: 2",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["contentDetails", "id", "snippet", "subscriberSnippet"]
								}
							},
					   "example": "snippet"
					},
					{
						"name": "channelId",
						"in": "query",
						"description": "The channelId parameter specifies a YouTube channel ID. The API will only return that channel's subscriptions.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},	
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of the YouTube subscription ID(s) for the resource(s) that are being retrieved. In a subscription resource, the id property specifies the YouTube subscription ID.",
						"schema":{"type":"string"}
					},	
					{
						"name": "mine",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Set this parameter's value to true to retrieve a feed of the authenticated user's subscriptions.",
						"schema":{
							"type":"boolean",
							"enum":["true","false"]
							}
					},	
					{
						"name": "myRecentSubscribers",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Set this parameter's value to true to retrieve a feed of the subscribers of the authenticated user in reverse chronological order (newest first). Note that this parameter only supports retrieval of the most recent 1000 subscribers to the authenticated user's channel. To retrieve a complete list of subscribers, use the mySubscribers parameter. That parameter, which does not return subscribers in a particular order, does not limit the number of subscribers that can be retrieved.",
						"schema":{
							"type":"boolean",
							"enum":["true","false"]
							}
					},	
					{
						"name": "mySubscribers",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Set this parameter's value to true to retrieve a feed of the subscribers of the authenticated user in no particular order.",
						"schema":{
							"type":"boolean",
							"enum":["true","false"]
							}
					},	
					{
						"name": "forChannelId",
						"in": "query",
						"description": "The forChannelId parameter specifies a comma-separated list of channel IDs. The API response will then only contain subscriptions matching those channels.",
						"schema":{"type":"string"}
					},	
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Acceptable values are 0 to 50, inclusive. The default value is 5.",
						"schema":{"type":"unsigned integer"}
					},	
					{
						"name": "onBehalfOfContentOwner",
						"in": "query",
						"description": "Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
						"schema":{"type":"string"}
					},	
					{
						"name": "onBehalfOfContentOwnerChannel",
						"in": "query",
						"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners. The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
						"schema":{"type":"string"}
					},	
					{
						"name": "order",
						"in": "query",
						"description": "The order parameter specifies the method that will be used to sort resources in the API response. The default value is SUBSCRIPTION_ORDER_RELEVANCE. Acceptable values are: alphabetical - Sort alphabetically. relevance - Sort by relevance. unread - Sort by order of activity.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["alphabetical", "relevance", "unread"]
							}
						}
					},	
					{
						"name": "pageToken",
						"in": "query",
						"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
						"schema":{"type":"string"}
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns subscription resources that match the API request criteria.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#subscriptionListResponse."},
										"etag":{"description":"The Etag of this resource."},
										"nextPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"$ref" : "#components/schema/subscription/properties"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}	
		},
		"/videoAbuseReportReasons": {
            "get" : {
                "summary" : "A videoAbuseReportReason resource contains information about a reason that a video would be flagged for containing abusive content. When your application calls the videos.reportAbuse method to report an abusive video, the request uses the information from a videoAbuseReportReason resource to identify the reason that the video is being reported.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/videoAbuseReportReasons"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet. The snippet part has a quota cost of 2 units.",
						"schema":
							{"type":"array",
							"items": {
								"type": "string",
								"enum": ["id", "snippet"]
								}
							},
					   "example": "snippet"
					},
					{
						"name": "hl",
						"in": "query",
						"description": "The hl parameter specifies the language that should be used for text values in the API response. The default value is en_US.",
						"schema":{"type":"string"}
					}
				],
               "responses" : {
                    "200" : {
                        "description" : "Retrieve a list of reasons that can be used to report abusive videos.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#videoAbuseReportReasonListResponse."},
										"etag": {"description":"The Etag of this resource."},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"kind": {"description":"Identifies the API resource's type. The value will be youtube#videoAbuseReportReason."},
													"etag": {"description":"The Etag of this resource."},
													"id": {"description":"The ID that YouTube uses to identify the reason. When calling the videos.reportAbuse method, your application should use this value to set the reasonId property."},
													"snippet": {
														"description":"The snippet object contains basic details about the reason.",
														"type": "object", 
														"properties": {
															"label": {"description":"The localized label text for the abuse report reason."},
															"secondaryReasons": {
																"description": "A list of secondary reasons associated with the reason, if any are available. (There might be 0 or more.)",
																"type": "array"
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}					
		},
		"/videoCategories": {
            "get" : {
                "summary" : "A videoCategory resource identifies a category that has been or could be associated with uploaded videos.",
                "externalDocs": {
                    "url":"https://developers.google.com/youtube/v3/docs/videoCategories"
                },  
                "parameters" : [                 
					{
						"name" : "part",
						"required": true, 
						"in" : "query",
						"description" : "The part parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units. ",
					    "schema":{"type":"string"},
						"example": "snippet"
					},
					{
						"name": "id",
						"in": "query",
						"description": "The id parameter specifies a comma-separated list of video category IDs for the resources that you are retrieving.",
						"schema":{"type":"string"},
						"example": "<Object ID>"
					},	
					{
						"name": "regionCode",
						"in": "query",
						"description": "The regionCode parameter instructs the API to return the list of video categories available in the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.",
						"schema":{"type":"string"}
					},	
					{
						"name": "hl",
						"in": "query",
						"description": "The hl parameter specifies the language that should be used for text values in the API response. The default value is en_US.",
						"schema":{"type":"string"}
					}
				],
				"responses": {
                    "200" : {
                        "description" : "Returns a list of categories that can be associated with YouTube videos.",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
									"properties": {
										"kind":{"description":"Identifies the API resource's type. The value will be youtube#videoCategoryListResponse."},
										"etag":{"description":"The Etag of this resource."},
										"nextPageToken":{"description":"The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."},
										"prevPageToken": {"description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."},
										"pageInfo":{
											"description":"The pageInfo object encapsulates paging information for the result set.",
											"type": "object", 
											"properties": {
												"totalResults": {"description": "The total number of results in the result set."},
												"resultsPerPage": {"description": "The number of results included in the API response."}
											}
										},
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type":"object",
                                                "properties": {
													"kind": {"description": "Identifies the API resource's type. The value will be youtube#videoCategory."},
													"etag": {"description": "The Etag of this resource."},
													"id": {"description": "The ID that YouTube uses to uniquely identify the video category."},
													"snippet": {
														"description": "The snippet object contains basic details about the video category, including its title.", 
														"type": "object", 
														"properties": {
															"channelId": {"description":"The YouTube channel that created the video category."},
															"title": {"description":"The video category's title."},
															"assignable": {"description":"Indicates whether videos can be associated with the category."}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}			
		},
		"/videos": {
            "get" : {
[...]
